@using eRoute.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Menu/Index.cshtml";
    string sPermiso = ViewBag.Permiso;
}


<div class="container valores margen-tabla" ng-controller="FrecuenciaCtrl" ng-init="AsignarPermisoFrecuencia('@ViewBag.Permiso')">
    <div class="row">
        <div class="col-md-12 header">
            <h3 class="titulo-altura ng-binding">{{translation.XAFrecuencias}}</h3>  
        </div>
    </div>
    <!--Crear-->
    <div class="row header-valores">
        <div class="col-md-1">
            @{ if (sPermiso.Contains("C")) {
                @Html.ImageActionLink("../Content/images/crear.png", Url.Action("Create", new { Permiso = ViewBag.Permiso }), "{{translation.BTCrear}}")   
                }
            }
        </div>

        <!--Actualizar-->
        <div class="col-md-2">           
               
                    @Html.ImageActionLink("../Content/images/actualizar.png", Url.Action("Index", new { Permiso = ViewBag.Permiso }), "{{translation.BTActualizar}}")
                    
        </div>
        <!--Buscar-->
        <div class="col-md-6">
            <form>
                <div class="input-group">
                    <span class="input-group-addon"><img width="16" height="16" src="../Content/images/buscar.png" /></span>
                    <input type="text" placeholder="{{translation.BTBuscar}}" class="form-control" ng-model="search" />
                </div>
            </form>
        </div>

        <!--Paginas-->
        <div class="col-md-3">
            <dir-pagination-controls max-size="4"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>

    <div class="row header-valores">
        <div class="col-md-12">
            <table cellpadding="12" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        							

                        <!--Encabezados-->
                        <th style="width:8%"></th>
                        <th class="cursor-pointer" ng-click="sort('FrecuenciaClave')"><b>{{translation.FREFrecuenciaClave}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='FrecuenciaClave'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('Descripcion')"><b>{{translation.FREDescripcion}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Descripcion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('Tipo')"><b>{{translation.FRETipo}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Tipo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('FechaInicio')"><b>{{translation.FREFechaInicio}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='FechaInicio'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('FechaFinal')"><b>{{translation.FREFechaFinal}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='FechaFinal'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('UnidadInicio')"><b>{{translation.FREUnidadInicio}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='UnidadInicio'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('Repeticion')"><b>{{translation.FRERepeticion}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Repeticion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('Intervalo')"><b>{{translation.FREIntervalo}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Intervalo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="valter in cFrecList|orderBy:sortKey:reverse|filter:search|itemsPerPage:tamPag">
                        <!--Editar-->
                        <td>
                            @{  if (sPermiso.Contains("U"))
                                { 
                                    @Html.ImageAction("../Content/images/editar.png", HttpUtility.UrlDecode(Url.Action("Edit", "Frecuencias", new { FrecuenciaClave = "{{valter.FrecuenciaClave}}", Permiso = ViewBag.Permiso })), "{{translation.BTModificar}}")
                                }

                                else if (sPermiso.Contains("R"))
                                {

                                     @Html.ImageAction("../Content/images/consultar.png", HttpUtility.UrlDecode(Url.Action("Details", "Frecuencias", new { FrecuenciaClave = "{{valter.FrecuenciaClave}}", Permiso = ViewBag.Permiso })), "{{translation.btConsultar}}")


                                }

                            }                             
                       </td>
                        							
                        <td>{{valter.FrecuenciaClave}}</td>
                        <td>{{valter.Descripcion}}</td>
                        <td>{{valter.Tipo}}</td>
                        <td>{{valter.FechaInicio}}</td>
                        <td>{{valter.FechaFinal}}</td>
                        <td>{{valter.UnidadInicio}}</td>
                        <td>{{valter.Repeticion}}</td>
                        <td>{{valter.Intervalo}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


