@*@model IEnumerable<eRoute.Models.Modulo>*@
@using eRoute.Helpers

    @{
        Layout = null;
        ViewBag.Title = "eRoute Cloude";
    }

    <!DOCTYPE html>

    <html ng-app="eRouteApp" style="background-color:#f7f7f7;">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>eRoute Cloude</title>
        @Styles.Render("~/bundles/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/jquery")

        <script src="~/Scripts/lodash.js"></script>

        <script src="~/Views/Login/Login.js"></script>
        <script src="~/Views/Menu/js/sidebar_menu.js"></script>
        <script src="~/Views/Menu/js/sidebarapp.js"></script>
        <script src="~/Scripts/ng-map.min.js"></script>
        <script src="~/Views/Menu/js/angular.treeview.js"></script>
        <script src="~/Scripts/loading-bar.js"></script>        
        

        <script src="~/Content/dirPagination.js"></script>
        <script src="~/Controllers/js/directivas.js"></script>
        <script src="~/Controllers/js/mensaje.js"></script>
        <script src="~/Controllers/js/usuario.js"></script>
        <script src="~/Controllers/js/almacen.js"></script>
        <script src="~/Controllers/js/rutas.js"></script>
        <script src="~/Controllers/js/cliente.js"></script>
        <script src="~/Controllers/js/frecuenciadeRutas.js"></script>
        <script src="~/Controllers/js/configParametro.js"></script>
        <script src="~/Controllers/js/promociones.js"></script>

        <!--TREE VIEW INDEX-->
        <link href="~/Content/js/angular.treeview.js" rel="stylesheet" />
        <script src="~/Content/js/tree-grid-directive.js"></script>
        <link href="~/Content/css/treeGrid.css" rel="stylesheet" />

        <script src="~/Controllers/js/subEmpresa.js"></script>
        <script src="~/Controllers/js/segmento.js"></script>
        <script src="~/Controllers/js/producto.js"></script>
        <script src="~/Controllers/js/defaultBox.js"></script>

        <script src="~/Controllers/js/terminales.js"></script>
        <script src="~/Controllers/js/camiones.js"></script>
        <script src="~/Controllers/js/listasdeprecios.js"></script>
        <script src="~/Controllers/js/monedas.js"></script>
        <script src="~/Controllers/js/vendedores.js"></script>

        <script src="~/Controllers/js/autoBox.js"></script>
        <script src="~/Controllers/js/validateBox.js"></script>


        <script src="~/Controllers/js/rutaBox.js"></script>
        <script src="~/Controllers/js/centroBox.js"></script>

        <script src="~/Controllers/js/valorReferencia.js"></script>
        <script src="~/Controllers/js/messageBox.js"></script>
        <script src="~/Controllers/js/messageBoxAux.js"></script>
        <script src="~/Controllers/js/translation.js"></script>
        <script src="~/Controllers/js/configuracion.js"></script>
        <script src="~/Controllers/js/core/core.js"></script>
        <script src="~/Controllers/js/services/reportServices.js"></script>
        <script src="~/Controllers/js/services/menuServices.js"></script>
        <script src="~/Controllers/js/services/mapServices.js"></script>
        <script src="~/Controllers/js/reporte.js"></script>
        <script src="~/Controllers/js/menu.js"></script>
        <script src="~/Controllers/js/perfil.js"></script>
        <script src="~/Controllers/js/seleccionEsquema.js"></script>
        <script src="~/Controllers/js/mdbMensaje.js"></script>
        <script src="~/Controllers/js/folios.js"></script>
        <script src="~/Controllers/js/cargas.js"></script>
        <script src="~/Controllers/js/configuracionRecibo.js"></script>
        <script src="~/Controllers/js/frecuencias.js"></script>

        <link href="~/Content/css/angular-ui-tree.css" rel="stylesheet" />
        <link href="~/Content/css/angular.treeview.css" rel="stylesheet" />
        <link href="~/Content/js/angular.treeview.js" rel="stylesheet" />
        <link href="~/Content/css/custom-tree.css" rel="stylesheet" />

        <script src="~/Scripts/angular-ui-tree.js"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgClMywKkZ-eapVWOwpr7izt8COdm3NkY&callback=initMap">
        </script>

        <link href="~/Content/css/loading-bar.css" rel="stylesheet" />
        <link href="~/Views/Menu/css/menu.css" rel="stylesheet" />
        <link href="~/Views/Menu/css/sidebar.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="~/favicon.ico" type="image/ico" />
        <link href="~/Content/css/Site.css" rel="stylesheet" />
        <style>
            #loading-bar {
                pointer-events: all;
                z-index: 99999;
                border: none;
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0pxctr;
                cursor: wait;
                position: fixed;
                background-color: rgba(0, 0, 0, 0.6);
            }
        </style>

        
    </head>

    <body style="padding-top:0px;position: static !important;" ng-cloak class="bodysss">

        <nav class="navbar navbar-default navbar-fixed-top no-margin eroute-navbar">
            <div ng-controller="menu as ctrl" data-ng-init="init()">
                @*<div class="navbar-header fixed-brand">
                    <button type="button" class="navbar-toggle collapsed pull-left" style="border-color:transparent !important;" data-toggle="collapse" id="menu-toggle">
                        <span class="fa fa-bars eroute-menubutton" style="padding-top:0px !important;" aria-hidden="true">
                        </span>
                    </button>
                    <div class="navbar-brand logo-collapsed">
                        <img src="~/Assets/Login/a_login_logo.png" width="70" height="35" />
                    </div>                   
                    
                    <a href=""><span class="fa fa-sign-out pull-right eroute-menubutton logo-collapsed" title="Cerrar sesión" ng-click="ctrl.Logout()" style="padding:20px;font-size:25px; color:#B30000;" aria-hidden="true" data-toggle="collapse"></span></a>
                    <a href=""><span class="fa fa-info-circle pull-right eroute-menubutton logo-collapsed" title="Acerca de" ng-click="ctrl.About()" style="padding-top:20px;font-size:25px; color:#B30000;" aria-hidden="true" data-toggle="collapse"></span></a>
                </div>*@

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <span class="fa fa-bars eroute-menubutton" aria-hidden="true" data-toggle="collapse" id="menu-toggle-2">
                            </span>
                        </li>
                    </ul>
                    <div class="navbar-brand">
                        <img src="~/Assets/Login/a_login_logo.png" width="70" height="35" />
                    </div>
                    
                    <a href=""><span class="fa fa-sign-out pull-right eroute-menubutton" title="Cerrar sesión" ng-click="ctrl.Logout()" style="padding:20px; font-size:25px; color:#B30000;" aria-hidden="true" data-toggle="collapse" id="menu-toggle-2"></span></a>
                    <a href=""><span class="fa fa-info-circle pull-right eroute-menubutton" title="Acerca de" ng-click="ctrl.About()" style="padding-top:20px; font-size:25px; color:#B30000;" aria-hidden="true" data-toggle="collapse" id="menu-toggle-2"></span></a>
                </div>
            </div>
        </nav>

        <div id="wrapper" ng-controller="menu as ctrl">           
            <div id="sidebar-wrapper">
                <div class="panel-group" style="margin-top: 11px;" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default list-title-style" ng-repeat="m in modulos">
                        <div class="panel-heading list-panelheading" role="tab" id=HEAD{{m.MODId}}>
                            <h4 class="panel-title">
                                <img data-ng-src="data:image/png;base64,{{m.ImagenBase64}}" />
                                <a role="button" ng-click="" style="margin-left:15px;white-space:nowrap !important;" id={{m.MODId}} data-toggle="collapse" data-parent="#accordion" href=#COLL{{m.Clave}} aria-expanded="false" aria-controls=COLL{{m.Clave}}>{{m.Nombre}}</a>
                            </h4>
                        </div>
                        <div id=COLL{{m.Clave}} class="panel-collapse collapse" role="tabpanel" aria-labelledby=HEAD{{m.MODId}} ng-init="ctrl.test()">
                            <div class="panel-body" style="">
                                <md-input-container md-no-float class="md-block" style="margin:0;">
                                    <input ng-model="query" type="text" style="width:90%;margin-left:10px;" placeholder="Búsqueda">
                                </md-input-container>
                                <ul class="list-group" style="overflow-y:auto;height:auto;">
                                    <li class="list-group-item list-style" ng-cloak ng-repeat="a in m.Actividades | filter:query" ng-show="a.TipoActividad != 0">
                                        <div ng-switch on="a.TipoActividad">
                                            <div ng-switch-when="1"><a class="eRouteLabel" href="~/ValorReferencia/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="2"><a class="eRouteLabel" href="~/Mensaje/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="3"><a class="eRouteLabel" href="~/Reports/Index?VAVClave={{a.ACTId}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="4"><a class="eRouteLabel" href="~/Maps?VAVClave={{a.ACTId}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="5"><a class="eRouteLabel" href="~/Perfil/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="6"><a class="eRouteLabel" href="~/Configuracion/Edit?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="7"><a class="eRouteLabel" href="~/Almacen/Index?Permiso={{a.Permiso}}">---{{a.Nombre}}</a></div>
                                            <div ng-switch-when="8"><a class="eRouteLabel" href="~/Terminales/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="9"><a class="eRouteLabel" href="~/Camiones/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="10"><a class="eRouteLabel" href="~/ListasdePrecios/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="11"><a class="eRouteLabel" href="~/Usuario/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="12"><a class="eRouteLabel" href="~/Monedas/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="13"><a class="eRouteLabel" href="~/SubEmpresa/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="14"><a class="eRouteLabel" href="~/Vendedores/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="15"><a class="eRouteLabel" href="~/Rutas/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="16"><a class="eRouteLabel" href="~/FrecuenciadeRutas/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="17"><a class="eRouteLabel" href="~/Cliente/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="18"><a class="eRouteLabel" href="~/Producto/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            <div ng-switch-when="19"><a class="eRouteLabel" href="~/Promociones/Index?Permiso={{a.Permiso}}">{{a.Nombre}}</a></div>
                                            @*<div ng-switch-default><a class="eRouteLabel" href="~/Views/Shared/NoImplementado.cshtml">No Implementado</a></div>*@
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    @*<div class="panel panel-default list-title-style">
                        <div class="panel-heading list-panelheading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <span class="fa fa-pie-chart" style="color:#E51500;"></span>
                                <a role="button" ng-click="" style="margin-left:15px;white-space:nowrap !important;" id="ReportsWeb" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Reportes WEB</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" ng-init="ctrl.test()">
                            <div class="panel-body" style="">
                                <md-input-container md-no-float class="md-block" style="margin:0;">
                                    <input ng-model="query" type="text" style="width:90%;margin-left:10px;" placeholder="Búsqueda">
                                </md-input-container>
                                <ul class="list-group" style="overflow-y:auto;height:350px;">
                                    <li class="list-group-item list-style" ng-cloak ng-repeat="name in ctrl.GetList | filter:query">
                                        <a href="~/Reports/Index?VAVClave={{name.VAVClave}}">{{name.Descripcion}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>*@


                    @*<div class="panel panel-default list-title-style">
                        <div class="panel-heading list-panelheading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <span class="fa fa-map" style="color:#E51500;"></span>
                                <a class="collapsed" id="MapsWeb" style="margin-left: 15px;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Mapas WEB
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <md-input-container md-no-float class="md-block" style="margin:0;">
                                    <input ng-model="queryMaps" type="text" style="width:90%;margin-left:10px;" placeholder="Búsqueda">
                                </md-input-container>
                                <ul class="list-group" ng-repeat="maps in responseMapList | filter:queryMaps">
                                    <li class="list-group-item list-style">
                                        <a href="~/Maps?vavclave={{maps.vavclave}}">{{maps.Descripcion}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>        

        <div id="page-content-wrapper">
            <div class="container container-pos"  id="container-wrapper">
                @RenderBody()
            </div>
        </div> 
        

        
        
        @*@Scripts.Render("~/bundles/jquery")*@
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Views/Menu/js/sidebar_menu.js"></script>
        @RenderSection("scripts", required: false)
        @*<script type="text/javascript">

         $(document).ready(function () {
                                            GetModules();
                                        });

        </script>*@
    </body>
</html>
