@model IEnumerable<eRoute.Models.Perfil>
@using eRoute.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Menu/Index.cshtml";

}

<div ng-controller="ctrPerfil" ng-init="AsignarPermisos('@ViewBag.Permiso')">
    <div class="header" style="display: block;"><h3>&nbsp&nbsp{{translation.XPerfiles}}</h3></div>
    @{string sPermiso = ViewBag.Permiso;}

    <table cellpadding="12">
        <tr>
            @{ if (sPermiso.Contains("C"))
                {
            <th>@Html.ImageActionLink("../Content/images/crear.png", Url.Action("Create", new { Permiso = ViewBag.Permiso }), "{{translation.BTCrear}}")</th> 
                } 
            }
            <th>@Html.ImageActionLink("../Content/images/actualizar.png", Url.Action("Index", new { Permiso = ViewBag.Permiso }), "{{translation.BTActualizar}}")</th>            
            <th>
                <form>
                    <div class="input-group">
                        <span class="input-group-addon"><img width="16" height="16" src="/Content/images/buscar.png" /></span>
                        <input type="text" placeholder="{{translation.BTBuscar}}" class="form-control" ng-model="search" />
                    </div>
                </form>
            </th>
            <th>
                <dir-pagination-controls max-size="10"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </th>
        </tr>
    </table>

    <div class="container">

        @*<lb class="eRouteLabel" style="margin-left: 20px;">Total de Registros </lb>:
            <lb class="eRouteLabel">{{mensajes.length}}  </lb>*@

        <table cellpadding="12" class="table table-bordered table-hover" style="margin-left: 20px; margin-right: 20px;">
            <tr>
                <th style="width:6%"></th>
                <th style="cursor: pointer;" ng-click="sort('PERClave')"><b>{{translation.PERPERClave}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='PERClave'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                <th style="cursor: pointer;" ng-click="sort('Descripcion')"><b>{{translation.PERDescripcion}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Descripcion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                <th style="cursor: pointer;" ng-click="sort('Activo')"><b>{{translation.PERActivo}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Activo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>                
            </tr>
            <tr dir-paginate="per in perfiles|orderBy:sortKey:reverse|filter:search|itemsPerPage:tamPag">
                <td style="width:6%">
                    &nbsp &nbsp
                    @{  if (sPermiso.Contains("U"))
                        {
                            @Html.ImageAction("../Content/images/editar.png", HttpUtility.UrlDecode(Url.Action("Edit", "Perfil", new { PERClave = "{{per.PERClave}}", Permiso = ViewBag.Permiso })), "{{translation.BTModificar}}")
                        }
                        else
                        {
                            if (sPermiso.Contains("R"))
                            {
                            @Html.ImageAction("../Content/images/consultar.png", HttpUtility.UrlDecode(Url.Action("Details", "Perfil", new { PERClave = "{{per.PERClave}}", Permiso = ViewBag.Permiso })), "{{translation.btConsultar}}")
                                }
                            }
                        }

                </td>
                <td>
                    {{per.PERClave}}
                </td>
                <td>
                    {{per.Descripcion}}
                </td>
                <td>
                    <input type="checkbox" ng-model="per.Activo" ng-true-value="true" ng-false-value="false" onclick="return false;" onkeydown="e = e || window.event; if(e.keyCode !== 9) return false;" />
                </td>
            </tr>
        </table>

    </div>

    @{ Html.RenderPartial("MsgBox/YesNoMsgBox");  }
    @{ Html.RenderPartial("MsgBox/MsgBox");  }
</div>

@section Scripts {
    
}