@model WebReports.Models.Usuario

@{
    ViewBag.Title = "Iniciar Sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <p />
</hgroup>

<section id="loginForm">
@*<h2>Use a local account to log in.</h2>*@
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*<fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Clave)
                @Html.TextBoxFor(m => m.Clave)
                @Html.ValidationMessageFor(m => m.Clave)
            </li>
            <li>
                @Html.LabelFor(m => m.ClaveAcceso)
                @Html.PasswordFor(m => m.ClaveAcceso)
                @Html.ValidationMessageFor(m => m.ClaveAcceso)
            </li>
           
        </ol>
        <input type="submit" value="Ingresar" />
    </fieldset>*@
    
     <div class="container">
        <div class="container-left form-horizontal">

            <div class="form-group">               
                <label for="Clave" class="col-lg-3 control-label text-label">
                    Usuario</label>
                <div class="col-lg-8">
                     @Html.TextBoxFor(model => model.Clave, new { placeholder = "Clave", @type = "text", @class = "form-control" })
                    @*<input type="text" class="form-control" id="Clave" placeholder= "Clave" value=@Model.Clave>*@
                </div>
            </div>

            <div class="form-group">
                <label for="ClaveAcceso" class="col-lg-3 control-label text-label">
                    Contraseña</label>
                <div class="col-lg-8">
                    @Html.TextBoxFor(model => model.ClaveAcceso, new { placeholder = "Contraseña", @type = "password", @class = "form-control" })
                    @*<input type="password" class="form-control" id="ClaveAcceso" placeholder= "Contraseña" value=@Model.ClaveAcceso>*@
                </div>
            </div> 

           
             @*<div class="form-group form-inline">
                <label for="password" class="col-lg-no-label control-label">
                    </label>
                <div class="checkbox col-lg-3 text-right">
                    <label for="status" class="control-label">
                        <input type="checkbox" id="status" value="" checked>
                        <b>Remember me</b>
                    </label>
                </div>
            </div> *@     
        </div>
        
                
    </div>
    
    <hr />    
    
    <div class="container-left">
        <input type="submit" value="Ingresar" class="btn btn-default" />
        @*@Html.ActionLink("Ingresar", "Login", "Usuario", null, new { @class = "btn btn-default" })*@
    </div>
}
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
