@using eRoute.Helpers

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Menu/Index.cshtml";
    var bSoloLectura = ViewBag.SoloLectura;
    var sPermiso = ViewBag.Permiso;
}
<style>


    /**ESTILOS PROPIOS*/
    #cuadrado {
        background: red;
        width: 100px;
        height: 100px;
        margin: 30px;
    }

    input, select, textarea {
        max-width: none !important;
    }

    @@media (min-width: 992px) {
        .col-md-1 {
            width: 12.333333%;
        }
    }


    /******/
    .form-valor .form-group label {
        margin-top: 7px;
    }

    md-radio-button {
        display: inline-block !important;
    }




</style>

<div class="container valores margen-tabla " ng-controller="FolioCtrl" ng-init="EditarFolio('@ViewBag.Clave', '@ViewBag.Permiso', '@ViewBag.SoloLectura.ToString()')">
    <div class="row form-group">
        <div class="col-md-12 header">
            <h3 class="titulo-altura ng-binding">{{translation.XFolios}}</h3>
        </div>
    </div>
    <form name="form"  ng-model="form" class="form-horizontal form-valor" ng-class="{sumitted:form.submited}" novalidate>
        <div class="row">
            <div class="col-md-12">
                
                <!--Seccion de Descripcion-->
                <div class="row form-group">
                    <label class="col-sm-1">
                        {{translation.FOLDescripcion}}
                    </label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" data-modal="modal" ng-model="Descripcion" name="Descripcion" ng-required="true" />
                        <div ng-show="form.$submitted || form.Descripcion.$touched">
                            <div class="error-message" ng-show="form.Descripcion.$error.required">{{translation.BE0001.replace('$0$', translation.FOLDescripcion)}}</div>
                        </div>
                    </div>
                </div>

                
                <div class="row form-group">
                    <!--Valor inicial-->
                    <label  class="col-sm-1">{{translation.FOLValorInicial}}</label>
                    <div class="col-sm-2">
                        <input ng-disabled="banderaFolioUsuario" type="text" class="form-control" data-modal="modal" ng-model="valInicial" name="valInicial" ng-required="true" />
                        <div  ng-show="form.$submitted || form.valInicial.$touched">
                            <div class="error-message" ng-show="form.valInicial.$error.required">{{translation.BE0001.replace('$0$', translation.FOLValorInicial)}}</div>
                        </div>
                    </div>

                    <!--Estado-->
                    <label  style="text-align:right"class="col-sm-1">
                        {{translation.FOLTipoEstado}}
                    </label>
                    <div  class="col-sm-2">
                        <select ng-disabled="banderaFolioUsuario" name="Estado" id="Estado" ng-model="Estado" class="form-control" style="max-width:100%" data-modal="modal" ng-options="data.VAVClave as data.Descripcion for data in edoreg" ng-required="true" ng-disabled="SoloLectura">
                            @*<option value="" disabled selected>{{translation.XSeleccionarOpcion}}</option>*@
                        </select>
                    </div>
                </div>

               
                    <!--Detalle-->
                    <!----------------------------------------------->
                    <div class="panel panel-danger">
                        <div class="panel-body">
                            <div class="container" style="margin-left: 20px; margin-right: 20px;">
                                <!--Crear detalle folio-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4><b>{{translation.XDetalle}}</b></h4>
                                        @{ if (!bSoloLectura)
                                            {
                                                @Html.ImageButtonLink("../Content/images/crear.png", "AddFolioDetalle()", "{{translation.BTCrear}}")
                                            }
                                        }
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12" ng-show="msjError || msjAIrequired">
                                        <div class="error-message" ng-show="msjError">{{translation.E0723.replace('$0$', '16')}}</div>
                                        <div class="error-message" ng-show="msjAIrequired">{{translation.E0067}}</div>
                                    </div>
                                </div>
                                <br />
                                <!--Tabla detalles-->
                                <div class="row form-group">
                                    <div class="col-md-12 table-responsive scroll-completo">
                                        <table cellpadding="12" class="table table-bordered table-hover">
                                            <!--Encabezado tabla-->
                                            <thead>
                                                <tr>
                                                    <th style="width: 3%"></th>
                                                    <th class="cursor-pointer" ng-click="sort('TipoContenido')"><b>{{translation.FODTipoContenido}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TipoContenido'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                    <th class="cursor-pointer" ng-click="sort('Formato')"><b>{{translation.FODFormato}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Formato'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                    <th class="cursor-pointer" ng-click="sort('TipoEstado')"><b>{{translation.FODTipoEstado}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TipoEstado'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                </tr>
                                            </thead>
                                            <!--Elementos de la tabla-->
                                            <tbody>
                                                <tr ng-repeat="fd in FoliosDetalle">
                                                    <td align="center" style="vertical-align:middle">
                                    <div ng-show="fd.eliminar">
                                    <!--Eliminar-->
                                    @{
                                        if (sPermiso.Contains("D"))
                                        {
                                            @Html.ImageButton("../Content/images/eliminar.png", "EliminarFolioDet($index)", "{{translation.BTEliminar}}")
                                        }
                                    }
                                </div>

                                                </td>
                                                <td >
                                                    <md-select   md-on-close="accionSelect({{fd.TipoContenido}},{{$index}})"  ng-disabled="fd.Editable" id="selectContenido" placeholder="{{translation.XSeleccionarOpcion}}" class="dropStyles" ng-model="fd.TipoContenido" name="{{'Contenido' + $index }}" indexName="{{$index}}" ng-required="true">
                                                        <md-option ng-disabled="item.disponible" ng-value="item" ng-repeat="item in cTipCont">{{item.Descripcion}}</md-option>
                                                    </md-select>
                                                    <div ng-show="form.$submitted || form.{{'Contenido' + $index }}.$touched || fd.msjCont==true">
                                                        <div class="error-message" ng-show="form.{{'Contenido' + $index }}.$error.required || fd.msjCont">{{translation.BE0001.replace('$0$', translation.FODTipoContenidoT)}}</div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle" >
                                                    <input ng-disabled="fd.Editable || fd.disabledContenido" class="form-control" type="text" data-modal="modal" indexName="{{$index}}" name="{{'Formato' + $index }}" ng-model="fd.Formato" ng-required="true">
                                                    <div  ng-show="form.$submitted || form.{{'Formato' + $index }}.$touched || fd.msjAI || fd.msjFormato">
                                                        <div class="error-message" ng-show="fd.msjAI">{{translation.E0669.replace('$0$', translation.FODFormato)}}</div>
                                                        <div class="error-message" ng-show="form.{{'Formato' + $index }}.$error.required || fd.msjFormato">{{translation.BE0001.replace('$0$', translation.FODFormato)}}</div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle">
                                                    <select ng-disabled="fd.Editable" id="estado" class="form-control" data-modal="modal" ng-model="fd.TipoEstado" name="{{'Estado' + $index }}" ng-required="true" ng-options="val.VAVClave as val.Descripcion for val in edoreg ">
                                                        <option value="" ng-disabled="true" selected>{{translation.XSeleccionarOpcion}}</option>
                                                    </select>
                                                    <div ng-show="form.$submitted || form.{{'Estado' + $index }}.$touched || fd.msjEstado==true">
                                                        <div class="error-message" ng-show="form.{{'Estado' + $index }}.$error.required || fd.msjEstado==true ">{{translation.BE0001.replace('$0$', translation.FODFormato)}}</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------Termina Detalle--------------------->

            </div>

            <!--Botones aceptar y cancelar-->
            <div class="container" style="margin-left: 20px">
                @{  if (!bSoloLectura)
                    {
                        <input type="submit" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="GuardarFolio()" />
                        <input type="button" value="{{translation.BTCancelar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                    }
                    else
                    {
                        <input type="button" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                    }
                }
            </div>
            @{ Html.RenderPartial("MsgBox/YesNoMsgBox"); }
            @{ Html.RenderPartial("MsgBox/MsgBox"); }
        </div>
    </form>

</div>


