@if (Request.IsAuthenticated) {
    <text>
        <p class="text-login hidden-print">¡Bienvenido <b>@Html.Encode(User.Identity.Name)</b>!</p>
    </text>
    <ul>       
        @Html.ActionLink("[Salir]", "Logoff", "Usuario", null, new { @class = "link-logon hidden-print" })
    </ul>
    <ul>       
        @Html.ActionLink("Acerca de", "About", "Home", null, new { @class = "link-logon hidden-print" })
    </ul>
    
} 
else {
    <ul>       
        @Html.ActionLink("Acerca de", "About", "Home", null, new { @class = "link-logon hidden-print" })
    </ul>
    @*<ul>       
        @Html.ActionLink("Ingresar", "Login", "Usuario", null, new { @class = "link-logon hidden-print" })
    </ul>*@
}
