@using eRoute.Helpers

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Menu/Index.cshtml";
    var bSoloLectura = ViewBag.SoloLectura;
    string sPermiso = ViewBag.Permiso;
    string Clave = ViewBag.Clave;
}

<style>
    /**ESTILOS PROPIOS*/

    input, select, textarea {
        max-width: none !important;
    }

    .bold {
        font-weight: 600;
    }

    .form-group {
        margin-top: 7px;
    }

    /******/

    #EsquemaBox input[type="checkbox"] {
        top: 2px;
        position: relative;
    }

    @@media screen and (min-width: 768px) {
        .modal-dialog {
            /*width: 1000px;*/
        }
    }

    .modal-header .close {
        margin-top: -10px !important;
        font-size: 25px;
        color: #FFFFFF;
        background-color: black;
    }

    .modal-dialog {
        overflow-y: initial !important;
        /*border-collapse: collapse;*/
        /*overflow-x:auto;*/
        /*overflow-y:auto;*/
    }

    .modal-dialog-esquema {
        border-collapse: collapse;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        width: 50%;
    }

    .modal-body-esquema {
        overflow-y: initial !important;
    }

    .modal-body:not(.validateBox) {
        /*height: 380px;*/
        overflow-y: auto;
    }

    @@media (min-width: 992px) {

        .col-md-2-hack {
            width: 11.666667% !important;
        }
    }

    .prestamo-checkbox {
        position: relative;
        top: 7px;
    }

    .boder-esquema {
        border: #b30000 dotted 1px;
    }

    #generales {
        margin-top: 20px;
    }
    /*** STYLE TREE VIEW**/
    .tree-view-style {
        border: solid 1px rgba(179, 0, 0, 0.21);
        padding-bottom: 3px;
        background: #f7f7f7;
        color: #6d0e0e;
        margin-top: 1px;
        cursor: default;
        border-radius: 1px;
    }

    .pad-10 {
        padding-left: 10px !important;
    }

    .tree-view-link {
        font-weight: 600;
        font-size: 16px;
        padding-left: 12px;
        padding-top: 2px;
        margin-right: -10px;
    }

        .tree-view-link:hover {
            text-decoration: none;
        }

    #EsquemaBox input[type="checkbox"] {
        margin-left: 10px;
    }

    .glyphicon {
        top: -3px;
    }

    hr {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        position: relative;
        border-top: 3px solid #AA5511;
        left: -16px;
    }

    /*.table {
        margin-bottom: 10px !important;
    }*/

    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        border-top: none !important;
    }

    .margen-tabla {
        margin-right: -13px !important;
    }

    .col-xs-1-5 {
        width: 4.333333% !important;
    }

    .thead-format {
        background: #b81313;
        color: #f7f7f7;
        font-weight: 600;
    }

    .titulo-productos {
        position: relative;
        top: 4px;
    }

    .scrow {
        width: 100%;
        height: 300px;
        overflow: scroll;
    }

    .tablaproductobox {
        width: 900px;
    }

    .Lnegras {
        border-top: none !important;
        background: rgb(179, 0, 0) !important;
        color: #ffffff;
        font-weight: 500;
    }

    .scroll-UniVentas {
        /*border-bottom-color:aqua;*/
        height: 450px;
        display: block;
        overflow: scroll;
        border: 1px solid;
        border-radius: 12px;
        /*overflow-x:auto*/
    }

    .table-UniVentas {
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        width: 100%;
    }

    .table-UniVentas {
        border: 1px solid #ccc;
    }

        .table-UniVentas tr {
            border-bottom: 1px solid #ddd;
        }

            .table-UniVentas tr:nth-child(odd) {
                background-color: #fff;
            }

            .table-UniVentas tr:nth-child(even) {
                background-color: #f1f1f1;
            }

        .table-UniVentas td, .table-UniVentas th {
            padding: 8px 8px;
            display: table-cell;
            text-align: left;
            vertical-align: top;
            width: 150px;
        }

            .table-UniVentas th:first-child, .table-UniVentas td:first-child {
                padding-left: 16px;
            }
</style>

<div class="row margen-tabla" ng-controller="productosController" ng-init="EditarProducto('@ViewBag.Clave', '@ViewBag.Permiso', '@ViewBag.SoloLectura.ToString()')">

    <div class="header" style="display: block;">
        <h3 class="titulo-productos">&nbsp&nbsp{{translation.XProductos}}</h3>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist" @*style="background-color: #f7f7f7"*@>
                    <li class="active" role="presentation">
                        <a href="#generales" aria-controls="" data-toggle="tab" role="tab">{{translation.XGenerales}}</a>
                    </li>
                    <li role="presentation">
                        <a href="#impuestos" aria-controls="" data-toggle="tab" role="tab">{{translation.XImpuestos}}</a>
                    </li>
                    <li role="presentation">
                        <a href="#unidadesVenta" aria-controls="" data-toggle="tab" role="tab">{{translation.XUnidadesVenta}}</a>
                    </li>
                    <li role="presentation">
                        <a href="#equivalencias" aria-controls="" data-toggle="tab" role="tab">{{translation.XEquivalencias}}</a>
                    </li>
                    <li role="presentation" style="display:none">
                        <a href="#competencias" aria-controls="" data-toggle="tab" role="tab">{{translation.XCompetencia}}</a>
                    </li>
                </ul>
                <form name="form" class="form-horizontal form-valor" ng-class="{submitted:form.submitted}" novalidate>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <!--Producto Clave-->
                            <div class="row form-group">
                                <div class="col-md-2"><label for="">{{translation.PROProductoClave}}</label></div>
                                <div class="col-md-4">
                                    <input type="text" name="ProductoClavePRO" ng-maxlength="25" ng-model="ProductoClavePRO" class="form-control" ng-required="true" validar-clave-producto="true" ng-disabled="!Nuevo">
                                    <div ng-show="form.$submitted || form.ProductoClavePRO.$touched">
                                        <div class="error-message" ng-show="form.ProductoClavePRO.$error.required">{{translation.BE0001.replace('$0$', translation.PROProductoClave)}}</div>
                                        <div class="error-message" ng-show="form.ProductoClavePRO.$error.productoClaveRepetida">{{translation.BE0002.replace('$0$', translation.PROProductoClave)}}</div>
                                        <div class="error-message" ng-show="form.ProductoClavePRO.$error.maxlength">{{translation.E0216.replace('$0$', '0').replace('$1$','25')}}</div>
                                    </div>
                                </div>
                                <div class="col-md-2"><label for="">{{translation.PROTipoFase}}</label></div>
                                <div class="col-md-4">
                                    <select name="TipoFase " id="ddlTipoFase" ng-model="TipoFase" producto="{{ProductoClavePRO}}" class="form-control" style="max-width:100%" data-modal="modal" ng-options="data.VAVClave as data.Descripcion for data in profase" ng-required="true" ng-disabled="SoloLectura" estado-product="true"></select>
                                    <div ng-show="form.$submitted || form.TipoFase.$touched">
                                        <div class="error-message" ng-show="form.TipoFase.$error.required">{{translation.BE0001.replace('$0$', translation.PROTipo)}}</div>
                                        <div class="error-message" ng-show="form.TipoFase.$error.cambioProducto">{{translation.E0409.replace('$0$', mensaje)}}</div>
                                    </div>
                                </div>
                            </div>
                            <!--Id Producto-->
                            <div class="row form-group">
                                <div class="col-md-2"><label for="">{{translation.PROId}}</label></div>
                                <div class="col-md-4">
                                    <input type="text" name="Id" ng-maxlength="20" ng-model="Id" class="form-control" ng-required="true" ng-disabled="SoloLectura">
                                    <div ng-show="form.$submitted || form.Id.$touched">
                                        <div class="error-message" ng-show="form.Id.$error.required">{{translation.BE0001.replace('$0$', translation.PROId)}}</div>
                                        <div class="error-message" ng-show="form.Id.$error.maxlength">{{translation.E0216.replace('$0$', '0').replace('$1$','20')}}</div>
                                    </div>
                                </div>
                                <!--Tipo-->
                                <div class="col-md-2"><label for="">{{translation.PROTipo}}</label></div>
                                <div class="col-md-4">
                                    <select name="Tipo" id="ddlTipo" ng-model="Tipo" class="form-control" style="max-width:100%" data-modal="modal" ng-options="data.VAVClave as data.Descripcion for data in protipo" ng-required="true" ng-disabled="SoloLectura">
                                        <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                    </select>
                                    <div ng-show="form.$submitted || form.Tipo.$touched">
                                        <div class="error-message" ng-show="form.Tipo.$error.required">{{translation.BE0001.replace('$0$', translation.PROTipo)}}</div>
                                    </div>
                                </div>
                            </div>
                            <!--Clave SAT-->
                            <div class="row form-group">
                                <div class="col-md-2"><label for="">{{translation.PROClaveSAT}}</label></div>
                                <div class="col-md-4">
                                    <input type="text" name="ClaveSAT" ng-maxlength="30" ng-model="ClaveSAT" class="form-control" ng-disabled="SoloLectura" />
                                    <div ng-show="form.$submitted || form.ClaveSAT.$touched">
                                        <div class="error-message" ng-show="form.ClaveSAT.$error.required">{{translation.BE0001.replace('$0$', translation.PROClaveSAT)}}</div>
                                        <div class="error-message" ng-show="form.Id.$error.maxlength">{{translation.E0216.replace('$0$', '0').replace('$1$','30')}}</div>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="row form-group">-->
                            <!--Nombre Corto-->
                            <div class="row form-group">
                                <div class="col-md-2"><label for="">{{translation.PRONombreCorto}}</label></div>
                                <div class="col-md-4">
                                    <input type="text" name="Nombre" ng-maxlength="32" ng-model="Nombre" class="form-control" ng-required="true" ng-disabled="SoloLectura">
                                    <div ng-show="form.$submitted || form.Nombre.$touched">
                                        <div class="error-message" ng-show="form.Nombre.$error.required">{{translation.BE0001.replace('$0$', translation.PRONombreCorto)}}</div>
                                        <div class="error-message" ng-show="form.Nombre.$error.maxlength">{{translation.E0216.replace('$0$', '0').replace('$1$','32')}}</div>
                                    </div>
                                </div>
                                <div class="col-md-2"><label for="">{{translation.XSUBEMPRESA}}</label></div>
                                <!--Sub Empresa-->
                                <div class="col-md-4">
                                    <select name="SubEmpresaID" id="ddlSubEmpresaID" ng-model="SubEmpresaID" class="form-control" style="max-width:100%" data-modal="modal" ng-options="empresa.SubEmpresaId as empresa.NombreCorto for empresa in cEmpresasList" ng-required="true" ng-disabled="SoloLectura">
                                        <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                    </select>
                                    <div ng-show="form.$submitted || form.SubEmpresaId.$touched">
                                        <div class="error-message" ng-show="form.SubEmpresaId.$error.required">{{translation.BE0001.replace('$0$', translation.XSUBEMPRESA)}}</div>
                                    </div>
                                </div>
                            </div>
                            <!--Nombre Largo-->
                            <div class="row form-group">
                                <div class="col-md-2"><label for="">{{translation.PRONombreLargo}}</label></div>
                                <div class="col-md-10">
                                    <input type="text" name="NombreLargo" ng-maxlength="64" ng-model="NombreLargo" class="form-control" ng-required="true" ng-disabled="SoloLectura">
                                    <div ng-show="form.$submitted || form.NombreLargo.$touched">
                                        <div class="error-message" ng-show="form.NombreLargo.$error.required">{{translation.BE0001.replace('$0$', translation.PRONombreLargo)}}</div>
                                        <div class="error-message" ng-show="form.NombreLargo.$error.maxlength">{{translation.E0216.replace('$0$', '0').replace('$1$','32')}}</div>
                                    </div>
                                </div>
                            </div>
                            <!--Limite Descuento-->
                            <div class="row form-group">
                                <div class="col-md-2"><label for="">{{translation.PROLimiteDescuento}} (%)</label></div>
                                <div class="col-md-4">
                                    @*<input type="number" name="LimiteDescuento" ng-model="LimiteDescuento" class="form-control" step="0" max="100" min="0" valida-number-int1 ng-blur="validarLimiteDescuento()"  ng-disabled="SoloLectura">*@
                                    <input type="text" name="LimiteDescuento" ng-model="LimiteDescuento" class="form-control" valida-number ng-blur="validarLimiteDescuento()" placeholder="0.00%" ng-disabled="SoloLectura">
                                    <div ng-show="form.$submitted || form.LimiteDescuento.$touched">
                                        <div class="error-message" ng-show="form.LimiteDescuento.$error.required">{{translation.BE0001.replace('$0$', translation.PROLimiteDescuento)}}</div>
                                        <div class="error-message" ng-show="form.LimiteDescuento.$error.max">{{translation.E0216.replace('$0$', '0').replace('$1$','100')}}</div>
                                        <div class="error-message" ng-show="form.LimiteDescuento.$error.min">{{translation.E0216.replace('$0$', '0').replace('$1$','100')}}</div>
                                    </div>
                                </div>
                                <div class="col-md-2"><label for="">{{translation.PRODecimales}}</label></div>
                                <div class="col-md-4">
                                    <input type="text" name="DecimalProducto" ng-model="DecimalProducto" class="form-control" valida-number-int1 ng-blur="validarDecimalesPermitido()" ng-disabled="SoloLectura" />
                                    <div ng-show="form.$submitted || form.DecimalProducto.$touched">
                                        <div class="error-message" ng-show="form.DecimalProducto.$error.required">{{translation.BE0001.replace('$0$', translation.PRODecimales)}}</div>
                                        <div class="error-message" ng-show="form.DecimalProducto.$error.max">{{translation.E0216.replace('$0$', '0').replace('$1$','4')}}</div>
                                        <div class="error-message" ng-show="form.DecimalProducto.$error.min">{{translation.E0216.replace('$0$', '0').replace('$1$','4')}}</div>
                                    </div>
                                </div>
                            </div>
                            <!--Caduco Permitido-->
                            <div class="row form-group">
                                <div class="col-md-2"><label for="">{{translation.PROCaducoPermitido}} (%)</label></div>
                                <div class="col-md-4">
                                    <input type="text" name="CaducoPermitido" ng-model="CaducoPermitido" class="form-control" valida-number ng-blur="validarCaducoPermitido()" placeholder="0.00%" ng-disabled="SoloLectura">
                                    <div ng-show="form.$submitted || form.CaducoPermitido.$touched">
                                        <div class="error-message" ng-show="form.CaducoPermitido.$error.required">{{translation.BE0001.replace('$0$', translation.PROCaducoPermitido)}}</div>
                                        <div class="error-message" ng-show="form.CaducoPermitido.$error.max">{{translation.E0216.replace('$0$', '0').replace('$1$','100')}}</div>
                                        <div class="error-message" ng-show="form.CaducoPermitido.$error.min">{{translation.E0216.replace('$0$', '0').replace('$1$','100')}}</div>
                                    </div>
                                </div>
                                <div class="col-md-2"><label for="">{{translation.PROTipoAdquisicion}}</label></div>
                                <div class="col-md-4">
                                    <select name="TipoAdquisicion" id="ddlTipoAdq" ng-model="TipoAdquisicion" class="form-control" style="max-width:100%" data-modal="modal" ng-options="data.VAVClave as data.Descripcion for data in tipadq" ng-disabled="SoloLectura">
                                        <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                    </select>
                                    @*<div ng-show="form.$submitted || form.TipoAdquisicion.$touched">
                                            <div class="error-message" ng-show="form.SubEmpresaId.$error.required">{{translation.BE0001.replace('$0$', translation.PROTipoAdquisicion)}}</div>
                                        </div>*@
                                </div>
                            </div>
                            <!--Contenido-->
                            <div class="row form-group">
                                <div class="col-md-2">
                                    <div class="checkbox">
                                        <label><input id="contenido" ng-false-value="false" ng-click="habilitarVenta(Contenido)" name="Contenido" ng-true-value="true" ng-model="Contenido" type="checkbox" value="" ng-disabled="SoloLectura">{{translation.PROContenido}}</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="checkbox">
                                        <label><input id="venta" ng-false-value="false" name="Venta" ng-true-value="true" ng-disabled="ventaBloq" ng-model="Venta" type="checkbox" value="">{{translation.PROVenta}}</label>
                                    </div>
                                </div>
                            </div>
                            <!--Nota-->
                            <div class="row form-group">
                                <div class="col-md-2"><label for="">{{translation.PRONota}}</label></div>
                                <div class="col-md-4"><textarea cols="5" name="Nota" ng-model="Nota" class="form-control" ng-disabled="SoloLectura"></textarea></div>
                            </div>
                            <!--Agregar Esquema-->
                            <div class="row margen-agregar">
                                <div class="col-md-6">
                                    @{ if (!bSoloLectura)
                                        {
                                            @Html.ImageButtonLink("../Content/images/crear.png", "agregarEsquema()", "{{translation.XAgregar}} {{translation.XEsquema}}")
                                        }
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-show="form.$submitted || mostrarError">
                                        <div class="error-message" ng-show="form.ProductoClavePRO.$error.required">{{translation.BE0001.replace('$0$', translation.PROProductoClave)}}</div>
                                    </div>
                                </div>
                            </div>

                            <!--Tabla Esquemas de Productos-->
                            <div class="row form-group" ng-init="ObtenerDetalleEsquemaProducto('@ViewBag.Clave')">
                                <div class="col-md-12 table-responsive scroll-completo">
                                    <table cellpadding="12" class="table table-bordered table-hover">
                                        <!--Encabezado tabla-->
                                        <thead>
                                            <tr>
                                                <th style="width:5%"></th>
                                                @{  if (!bSoloLectura)
                                                    {
                                                        <!--Orden ascendente o descendente-->
                                                        <th class="cursor-pointer" ng-click="sort('Clave')"><b>{{translation.XClave}}</b><span class="glyphicon sort-icon" ng-show="sortKey=='Clave'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                        <th class="cursor-pointer" ng-click="sort('Nombre')"><b>{{translation.PDVNombre}}</b><span class="glyphicon sort-icon" ng-show="sortKey=='Nombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                    }
                                                    else
                                                    {
                                                        <th> <b>{{translation.XClave}}</b> </th>
                                                        <th> <b>{{translation.PDVNombre}}</b> </th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*<tr ng-repeat="E in EsquemasList|orderBy:sortKey:reverse|orderBy:Lock:true|filter:search">*@
                                            <tr ng-repeat="E in cEsquemaList|orderBy:sortKey:reverse|orderBy:Lock:true|filter:search">

                                                <td>
                                                    <!--Eliminar-->
                                                    @{
                                                        if (sPermiso.Contains("C") | sPermiso.Contains("D")    /*!bSoloLectura*/)
                                                        {
                                                            @*@Html.ImageButton("../Content/images/eliminar.png", "Remove($index, E.EsquemaID)", "{{translation.BTEliminar}}")*@
                                                            @Html.ImageButton("../Content/images/eliminar.png", "validarEliminarEsquema($index, E.EsquemaID)", "{{translation.BTEliminar}}")

                                                        }
                                                    }
                                                </td>
                                                <td>{{E.Clave}}</td>

                                                <td>{{E.Nombre}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>

                        <div role="tabpanel" class="tab-pane" id="impuestos">
                            <div class="row margen-agregar">
                                <div class="col-md-6">
                                    @{ if (!bSoloLectura)
                                        {
                                            @Html.ImageButtonLink("../Content/images/crear.png", "AgregarImpuesto()", "{{translation.XAgregar}} {{translation.XImpuestos}}")
                                        }
                                    }

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <td><span class="bold">{{translation.IMPClave}}</span></td>
                                                <td><span class="bold">{{translation.IMPAbreviatura}}</span></td>
                                                <td><span class="bold">{{translation.IMPNombre}}</span></td>
                                                <td><span class="bold">{{translation.IMPTipoEstado}}</span></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="im in impList">
                                                @*<tr ng-repeat="im in cImpuestoList">*@
                                                <td>
                                                    {{im.ImpuestoClave}}
                                                </td>
                                                <td>
                                                    {{im.Abreviatura}}
                                                </td>
                                                <td>
                                                    {{im.Nombre}}
                                                </td>
                                                <td>
                                                    @*{{im.TipoEstado}}*@
                                                    <div class="col-md-6">
                                                        <select id="ddlEstadoImpuesto" class="form-control" data-modal="modal" ng-model="TipoEstadoImp" name="TipoEstadoImp" ng-options="estado.VAVClave as estado.Descripcion for estado in edoreg" ng-required="true" ng-disabled="SoloLectura" @*update-estado-imp*@ ng-change="UpdateEstadoImpuesto()">
                                                            <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                                        </select>
                                                        <div ng-show="form.$submitted || form.TipoEstadoImp.$touched">
                                                            <div class="error-message" ng-show="form.TipoEstadoImp.$error.required">{{translation.BE0001.replace('$0$', translation.IMPTipoEstado)}}</div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="unidadesVenta">
                            <div class="row margen-agregar">
                                <div class="col-md-6">
                                    @{ if (!bSoloLectura)
                                        {
                                            @Html.ImageButton("../Content/images/crear.png", "addUnidadVenta()", "{{translation.BTCrear}}", "btn-add-margin", "{{translation.BTCrear}} {{translation.XUnidadesVenta}}")
                                        }
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-show="form.$submitted || mostrarError">
                                        <div class="error-message" ng-show="form.ProductoClavePRO.$error.required">{{translation.BE0001.replace('$0$', translation.PROProductoClave)}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="scroll-UniVentas">
                                <div ng-repeat="uni in cUnidadesList">
                                    <table class="table-UniVentas table-bordered table-striped" @*id="table-UniVentas"*@ @*class="table table-bordered table-striped"*@>
                                        <thead>
                                            <tr class="Lnegras">
                                                <th>{{translation.PRUPRUTipoUnidad}}</th>
                                                <th>{{translation.PROCodigoBarras}}</th>
                                                <th>{{translation.PRUTipoEstado}}</th>
                                                <th>{{translation.PRUKgLts}}</th>
                                                <th>{{translation.PRUVolumen}}</th>
                                                <th>{{translation.PRUPorcentajeVariacion}}</th>
                                                <th>{{translation.PRUDecimalProducto}}</th>
                                                <th>{{translation.PRUValorPuntos}}</th>
                                                <th>{{translation.PRUContenedor}}</th>
                                                <th>{{translation.PRUNombreContenedor}}</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <select id="{{'PRUTipoUnidad' + $index}}" cambiar-tipo-unidad="true" index="{{$index}}" validar-vacio="true" class="form-control select-width" index="{{$index}}" data-modal="modal" ng-model="uni.PRUTipoUnidad" ng-required="true" ng-options="val.VAVClave as val.Descripcion for val in unidadv" name="{{'PRUTipoUnidad' + $index}}" ng-disabled="SoloLectura">
                                                            <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                                        </select>
                                                        <div ng-show="form.$submitted || form.{{'PRUTipoUnidad' + $index}}.$touched">
                                                            <div class="error-message" ng-show="form.{{'PRUTipoUnidad' + $index}}.$error.validaVacio">Valor duplicado</div>
                                                            <div class="error-message" ng-show="form.{{'PRUTipoUnidad' + $index}}.$error.required">{{translation.BE0001.replace('$0$', translation.PRUPRUTipoUnidad)}}</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="width:110px">
                                                        <input type="text" name="{{'CodigoBarras' + $index}}" ng-model="uni.CodigoBarras" class="form-control" ng-disabled="SoloLectura" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <select id="ddlEstado" class="form-control select-width" data-modal="modal" ng-model="uni.TipoEstado" ng-required="true" ng-options="val.VAVClave as val.Descripcion for val in pruedo" name="{{'TipoEstado' + $index}}" ng-disabled="SoloLectura">
                                                            <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="width:60px">
                                                        <input type="number" name="{{'KgLts' + $index}}" ng-model="uni.KgLts" class="form-control" ng-disabled="SoloLectura" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="width:60px">
                                                        <input type="number" name="{{'Volumen' + $index}}" ng-model="uni.Volumen" class="form-control" ng-disabled="SoloLectura" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="width:60px">
                                                        <input type="number" name="{{'PorcentajeVariacion' + $index}}" ng-model="uni.PorcentajeVariacion" class="form-control" ng-disabled="SoloLectura" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="width:60px">
                                                        <input type="number" name="{{'DecimalProducto'  + $index}}" ng-model="uni.DecimalProducto" class="form-control" ng-disabled="SoloLectura" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="width:65px">
                                                        <input type="text" name="{{'ValorPuntos'  + $index}}" ng-model="uni.ValorPuntos" class="form-control" disabled />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="width:80px">
                                                        <input type="text" name="{{'Contenedor'  + $index}}" ng-model="uni.Contenedor" class="form-control" ng-disabled="SoloLectura" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="width:100px">
                                                        <input type="text" name="{{'NombreContenedor'  + $index}}" ng-model="" class="form-control" disabled />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        @{ if (!bSoloLectura)
                                                            {
                                                                @Html.ImageButton("../Content/images/crear.png", "addProductoRelacionado($index)", "{{translation.BTCrear}}", "btn-add-margin", "")
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="Lnegras">
                                                <th colspan="3" style="background-color:white"></th>
                                                <th colspan="2">{{translation.PRDProductoDetClave}}</th>
                                                <th colspan="3">{{translation.PRONombre}}</th>
                                                <th>{{translation.PRDFactor}}</th>
                                                <th colspan="2">{{translation.PRDPrestamo}}</th>
                                            </tr>
                                            <tr ng-repeat="pf in uni.ProductoDetalle">
                                                <td colspan="3"></td>
                                                <td colspan="2">
                                                    <input type="text" class="form-control" data-modal="modal" ng-model="pf.ProductoDetClave" name="{{'ProductoDetClave' + uni.PRUTipoUnidad + $index }}" ng-disabled="true" />
                                                </td>
                                                <td colspan="3"><span>{{pf.NombreProducto}}</span></td>
                                                <td class="select-width">
                                                    <input type="text" class="form-control" producto-clave="{{pf.ProductoDetClave}}" validar-factor="{{uni.PRUTipoUnidad}}" data-modal="modal" ng-model="pf.Factor" name="{{'Factor'+ uni.PRUTipoUnidad + $index }}" ng-disabled="SoloLectura" />
                                                    <div ng-show="form.$submitted || form.{{'ProductoDetClave' + uni.PRUTipoUnidad + $index }}.$touched">
                                                        <div class="error-message" ng-show="form.{{'ProductoDetClave' + uni.PRUTipoUnidad + $index }}.$error.factorRepetido">{{translation.BE0001.replace('$0$', translation.PRUPRUTipoUnidad)}}</div>
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <input class="prestamo-checkbox" id="venta" ng-model="pf.Prestamo" name="{{'Prestamo'+ uni.PRUTipoUnidad + $index}}" type="checkbox" value="" ng-disabled="SoloLectura">
                                                </td>
                                            </tr>
                                            @*<hr />*@
                                            &nbsp
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-2 col-md-2-hack">
                                    <label class="label-align">{{translation.PROCantidadProduccion}}</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="number" min="0" step="0.1" name="CantidadProduccion" ng-model="CantidadProduccion" class="form-control" ng-disabled="SoloLectura" />
                                </div>
                                <div class="col-md-4">
                                    <select id="{{'PRUTipoUnidad' + $index" style="max-width:100%}}" class="form-control select-width" data-modal="modal" ng-model="PRUTipoUnidad" ng-options="val.VAVClave as val.Descripcion for val in TiposSeleccionado" name="{{'PRUTipoUnidad' + $index}}" ng-disabled="SoloLectura">
                                        <option ng-show="Action == 'Create' || TiposSeleccionado.length == 0 ? true: false " value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                    </select>
                                    <div ng-show="form.$submitted || form.PRUTipoUnidad.$touched">
                                        <div class="error-message" ng-show="form.PRUTipoUnidad.$error.tipoProductoExistente">El tipo no existe.</div>
                                    </div>
                                </div>

                            </div>
                            @*<div class="row margen-agregar">
                                <div class="col-md-6">
                                    @{ if (!bSoloLectura)
                                        {
                                            @Html.ImageButton("../Content/images/crear.png", "agregarProductoForma()", "{{translation.BTCrear}}", "btn-add-margin", "{{translation.BTCrear}}")
                                        }
                                    }
                                </div>
                            </div>*@
                        </div>

                        <div role="tabpanel" class="tab-pane" id="equivalencias">
                            <div class="row margen-agregar">
                                <div class="col-md-6">
                                    @{ if (!bSoloLectura)
                                        {
                                            @Html.ImageButtonLink("../Content/images/crear.png", "agregarProductoEquivalente()", "{{translation.XAgregar}} {{translation.XProductosEquivalentes}}")
                                        }
                                    }
                                </div>
                            </div>
                            <div class="row" ng-init="BuscarProductosEquivalentes()">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th> <b>{{translation.PROProductoClave}}</b> </th>
                                                <th> <b>{{translation.PRONombreCorto}}</b> </th>
                                                <th> <b>{{translation.XEstado}}</b> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="p in productoEquivalente">
                                                <td>{{p.ProductoPqvClave}}</td>
                                                <td>{{p.Nombre}}</td>
                                                @*<td>{{p.Estado}}</td>*@
                                                <td>
                                                    <div class="col-md-6">
                                                        <select id="ddlEstadoProductoEq" class="form-control" data-modal="modal" ng-model="TipoEstadoEquiv" name="TipoEstadoEquiv" ng-options="estado.VAVClave as estado.Descripcion for estado in edoreg" ng-required="true" ng-disabled="SoloLectura" ng-change="UpdateProductoEquiv()">
                                                            <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                                        </select>
                                                        <div ng-show="form.$submitted || form.TipoEstadoEquiv.$touched">
                                                            <div class="error-message" ng-show="form.TipoEstadoEquiv.$error.required">{{translation.BE0001.replace('$0$', translation.IMPTipoEstado)}}</div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        @*PANEL DE COMPETENCIAS EN DESARROLLO*@
                        <div role="tabpanel" class="tab-pane" id="competencias">
                            <div class="row margen-agregar">
                                <div class="col-md-6">
                                    @{ if (!bSoloLectura)
                                        {
                                            @Html.ImageButtonLink("../Content/images/crear.png", "", "{{translation.XAgregar}} {{translation.XProductosEquivalenteComp}}")
                                        }
                                    }
                                </div>
                            </div>

                            <div class="row" ng-init="">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width:5%"></th>
                                                <th> <b>{{translation.XClave}}</b> </th>
                                                <th> <b>{{translation.XMARCA}}</b> </th>
                                                <th> <b>{{translation.XNombreCorto}}</b> </th>
                                                <th> <b>{{translation.XEstado}}</b> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="p in productoEquivalenteCompet">
                                                <td>
                                                    @Html.ImageButton("../Content/images/eliminar.png", "EliminarProductoEquivalenteCompet($index, p.ProductoClave)", "{{translation.BTEliminar}}", "btn-add-margin")
                                                </td>
                                                <td>{{p.ProductoClave}}</td>
                                                <td>{{p.Marca}}</td>
                                                <td>{{p.Nombre}}</td>
                                                <td>{{p.Estado}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        &nbsp
                        <div>
                            @{ if (!bSoloLectura)
                                {
                                    <input type="submit" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="GuardarProducto()" />
                                    <input type="button" value="{{translation.BTCancelar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                                }
                                else
                                {
                                    <input type="button" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                                }
                            }
                        </div>
                    </div>
                    @{ Html.RenderPartial("MsgBox/YesNoMsgBox"); }
                    @{ Html.RenderPartial("Producto/ProdEquivBox"); }
                    @{ Html.RenderPartial("Producto/EsquemaBox"); }

                    @{ Html.RenderPartial("Producto/ProdBox"); }
                    @{ Html.RenderPartial("Producto/ProdCompBox"); }
                    @{ Html.RenderPartial("Producto/ProdRelacionado"); }

                </form>
                <!--Fin Form-->

            </div>
        </div>
    </div>

</div>