@using eRoute.Helpers

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Menu/Index.cshtml";
    var bSoloLectura = ViewBag.SoloLectura;
    string sPermiso = ViewBag.Permiso;

}

@*<script src="~/Scripts/libs.js"></script>
    <script src="~/Scripts/politespace.js"></script>
    <script src="~/Scripts/politespace-init.js"></script>
    <script>
        jQuery( function(){
            jQuery( document ).trigger( "enhance" );
        });
    </script>*@

<style>
    /**ESTILOS PROPIOS*/
    input, select, textarea {
        max-width: none !important;
    }

    .header h3 {
        line-height: 1.45;
    }

    .mapa {
        width: 100%;
        height: 180px;
        margin: 2px;
        border: solid 2px #b30000;
        border-radius: 4px;
    }

    /******/
    .form-valor .form-group label {
        margin-top: 7px;
    }

    md-radio-button {
        display: inline-block !important;
    }

    .titulo-descripcion {
        margin-left: 35%;
        display: inline-block;
    }

    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        border-top: none !important;
    }

    .lenguajes-tabla tr td {
        padding-top: 0 !important;
    }

    .btn-eliminar-lenguaje {
        display: inline-block;
        margin-top: 5px;
    }

    .btn-e-l-m-i {
        margin-left: 5px;
    }

    .modal-header .close {
        margin-top: -10px !important;
    }

    .fa-2-m {
        font-size: 1.4em;
        color: #b70c0c;
        font-weight: 600;
    }

    .activo-mg {
        margin-top: 13px !important;
    }

    .conf-auto {
        color: #b30000;
        font-weight: 600;
        font-size: medium;
    }

    .inline-check {
        display: inline-block !important;
    }

    .w-60 {
        width: 60% !important;
        margin-top: 0px;
        position: absolute;
        margin-left: 20px;
    }

    /***REDUCE LOS BORDER DE LOS TABS*/
    .nav-tabs > li > a {
        border-radius: 0 !important;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #ffffff;
        background-color: #b30000;
        font-weight: 600;
    }

    .nav-tabs > li {
        background: #c57b7b;
    }

        .nav-tabs > li a {
            color: #ffffff;
        }

    .nav > li > a:hover, .nav > li > a:focus {
        background-color: rgba(179, 0, 0, 0.36);
    }

    /********* SI SE NECESITA EL SCROLL**********/

    .modal-dialog {
        overflow-y: initial !important;
    }

    .modal-lg {
        width: 80%;
    }

    .validateBox {
        height: 250px !important;
        overflow-y: auto;
    }

    .nav-tabs {
        border-bottom: 1px solid #dddddd;
        background: #75716c;
        padding: 9px 10px 1px 10px;
    }


    /**********************/
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map_canvas {
        height: 100%;
    }

    @@media print {
        html,
        body {
            height: auto;
        }

        #map_canvas {
            height: 650px;
        }
    }

    .lbl-2-px {
        font-size: 0.9242em;
        position: relative;
        top: 2px;
    }

    .lbl-chk-8 {
        font-size: 0.899em;
        position: relative;
        top: 2px;
    }

    .lbl-chk {
        position: relative;
        top: 0.15em;
    }

    .top-3 {
        top: -3px;
    }


    @@media (min-width: 992px) {
        .col-md-30-iz {
            width: 30%;
        }
    }

    @@media (min-width: 992px) {
        .col-md-19-der {
            width: 19.666667%;
        }
    }

    .btn-mapa {
        position: sticky;
        float: left;
        /*display: inline-grid;*/
    }

    #CLIMapa {
        height: 180px;
        width: 240px;
    }

    @@media (min-width: 992px) {
        .mapa-grid {
            position: sticky;
            float: left;
            display: inline-grid;
        }
    }

    #cb {
        vertical-align: text-bottom;
        _vertical-align: middle;
        padding: 0 !important;
        margin: 0 !important;
    }

    .panel-danger > .panel-heading {
        color: #ffffff;
        background-color: #ce6969;
        border-color: #b76d78;
    }
</style>


<div class="row margen-tabla">
    <div class="col-md-12">

    </div>
</div>

<div class="row margen-tabla" ng-controller="vendedorCtrl" ng-init="EditarCliente('@ViewBag.ClienteClave', '@ViewBag.Permiso', '@ViewBag.SoloLectura.ToString()')">

    <div class="header" style="display: block;">
        <h3>&nbsp&nbsp{{translation.ERMVENESC_MGeneralC}}</h3>
    </div>

    @*<div class="row">
            <pre> {{subForm.Tipo | json}}</pre>
        </div>*@
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active" role="presentation">
                    <a href="#generales" aria-controls="" data-toggle="tab" role="tab">{{translation.XGenerales}}</a>
                </li>
                <li role="presentation">
                    <a href="#descuentos" aria-controls="" data-toggle="tab" role="tab">{{translation.XDescuentos}}</a>
                </li>
                <li role="presentation">
                    <a href="#segmentos" aria-controls="" data-toggle="tab" role="tab">{{translation.XEsquemas}}</a>
                </li>
                <li role="presentation">
                    <a href="#jornadas" aria-controls="" data-toggle="tab" role="tab">{{translation.ERMVENESC_MGeneral_tpJornadas}}</a>
                </li>
                <li role="presentation">
                    <a href="#mensajesdelsistema" aria-controls="" data-toggle="tab" role="tab">{{translation.XMensajes}}</a>
                </li>
            </ul>
            <div role="tabpanel">
                <form name="form" class="form-horizontal form-valor" ng-class="{submitted:form.submitted}" novalidate>
                    <div class="tab-content">
                        <!--GENERALES-->
                        <div id="generales" class="tab-pane active">
                            <br />
                            <!--Centro de distribucion-->
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{translation.VCHAlmacenId}}</h3>
                                </div>
                                <div class="panel-body">
                                </div>
                                <div class="panel-body">
                                    <div class="row form-group">

                                        <div class="col-md-2">
                                            <label for="DirRepMensual">{{translation.XFechaInicial}}</label>
                                        </div>
                                        <div class="col-md-2">
                                            <md-datepicker class="md-picker-style"
                                                           ng-required="true"
                                                           ng-model="VCHFechaInicial"
                                                           name="{{VCHFechaInicial }}"
                                                           md-placeholder="{{VCHFechaInicial | date:'MM/dd/yyyy'}}"
                                                           ng-disabled="true">

                                                <!--md-max-date="maxDate"-->
                                                <!--md-min-date="minDate"-->
                                            </md-datepicker>

                                        </div>

                                        <div class="col-md-3">
                                            <label for="DirDocXML">{{translation.CAMAlmacenIDCEDI}}</label>
                                        </div>

                                        <div class="col-md-3">
                                            <select class="form-control" data-modal="modal" ng-model="AlmacenIDAux" ng-change="borrar()" ng-click="bloqueos(); AlmacenID()" ng-required="true" ng-options="val.AlmacenID as val.NombreCompuesto for val in btipouso" name="{{'AlmacenIDAux'}}">
                                                <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                            </select>
                                            <div ng-show="form.$submitted || form.AlmacenIDAux.$touched">
                                                <div class="error-message" ng-show="form.AlmacenIDAux.$error.required">{{translation.BE0001.replace('$0$', translation.Xcentrodistribucion)}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-md-push-1">
                                            <span class="btn-eliminar-lenguaje btn-e-l-m-i">
                                                @Html.ImageButton("../Content/images/calendario.png", "VigenciaVendedores() ", "Histórico", " ", " ")
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--llenado de Generales-->

                            <br />
                            <div class="col-md-12">
                                <!--Nombre-->
                                <div class="row form-group ">
                                    <div class="col-md-3">
                                        <label for="">{{translation.VENNombre}}</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" maxlength="40" class="form-control" data-modal="modal" ng-model="Nombre" name="Nombre" ng-required="true" />
                                        <div ng-show="form.$submitted || form.Nombre.$touched">
                                            <div class="error-message" ng-show="form.Nombre.$error.required">{{translation.BE0001.replace('$0$', translation.VENNombre)}}</div>
                                        </div>
                                    </div>

                                </div>
                                <!--Tipo & configuracion modulo-->
                                <div class="row form-group ">
                                    <div class="col-md-3">
                                        <label for="name">{{translation.VENTipo}}</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" ng-click="bloqueoTipo()" ng-model="Tipo" name="Tipo" ng-options="val.VAVClave as val.Descripcion for val in  tvend" ng-required="true" validar-tipo-codigo-cambiado="true">
                                            <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="name">{{translation.VENMCNClave}}</label>
                                    </div>
                                    <div class="col-md-3 input-group">
                                        <input type="text" class="form-control" ng-disabled="CModuloT" name="MCNClave" ng-model="MCNClave" value="" ng-required="!custIdBloq" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-md" ng-click="SeleccionarVehiculo()"><i class="fa fa-ellipsis-v" aria-hidden="true"></i>  <img style="width:20px;" ng-show="loading" src="../Content/images/cargando.gif" alt="Alternate Text" /></button>
                                        </span>

                                    </div>
                                    <div ng-show="form.$submitted || form.MCNClave.$touched">
                                        <div class="error-message col-md-4 col-md-push-9" ng-show="form.MCNClave.$error.required">{{translation.BE0001.replace('$0$', translation.VENMCNClave)}}</div>
                                    </div>


                                </div>
                                <!--Nivel de experiencia & Limite de descuentos-->
                                <div class="row form-group ">
                                    <div class="col-md-3">
                                        <label for="name">{{translation.VENNivel}}</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" ng-disabled="NExperienciaT" ng-model="Nivel" name="Nivel" ng-options="val.VAVClave as val.Descripcion for val in  venexp " ng-required="true" validar-tipo-codigo-cambiado="true">
                                            <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                        </select>
                                        <div ng-show="form.$submitted || form.Nivel.$touched">
                                            <div class="error-message" ng-show="form.Nivel.$error.required">{{translation.BE0001.replace('$0$', translation.VENNivel)}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="name">{{translation.VENLimiteDescuento}}</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input valid-number-ven type="text" maxlength="3" max="100" class="form-control" data-modal="modal" ng-model="LimiteDes" name="LimiteDes" amount="stake" b-to-curyven />


                                    </div>
                                </div>
                                <!--Usuario-->
                                <div class="row form-group   ">
                                    <div class="col-md-3">
                                        <label for="ServidorTimbre">{{translation.VENUsuarioClave}}</label>
                                    </div>
                                    <div class="col-md-9 input-group ">
                                        <input ng-disabled="blockU" type="text" size="30" class="form-control" name="Usuario" ng-model="Usuario" value="" ng-required="!custIdBloq" />


                                        <span class="input-group-btn">
                                            <button ng-disabled="blockU" class="btn btn-default btn-md" ng-click="SeleccionarUsuario() ; usuario()"><i class="fa fa-ellipsis-v" aria-hidden="true"></i>  <img style="width:20px;" ng-show="loading" src="../Content/images/cargando.gif" alt="Alternate Text" /></button>
                                        </span>
                                        <input ng-disabled="true" type="text" size="90" class="form-control" name="Usuario2" ng-model="Usuario2" value="" ng-required="!custIdBloq" />

                                    </div>
                                    <div ng-show="form.$submitted || form.Usuario2.$touched">
                                        <div class="error-message col-md-3 col-md-push-3" ng-show="form.Usuario2.$error.required">{{translation.BE0001.replace('$0$', translation.VENUsuarioClave)}}</div>
                                    </div>


                                </div>
                                <!--Terminal-->
                                <div class="row form-group   ">
                                    <div class="col-md-3">
                                        <label for="ServidorTimbre">{{translation.VENTerminalClave}}</label>
                                    </div>
                                    <div class="col-md-9 input-group ">
                                        <input ng-disabled="blockT" ng-disabled2="TerminalT" type="text" size="30" class="form-control" name="Terminal" ng-model="Terminal" value="" ng-required="!custIdBloq" />


                                        <span class="input-group-btn">
                                            <button ng-disabled="blockT" ng-disabled2="TerminalT" class="btn btn-default btn-md" ng-click="SeleccionarTerminal(); terminal()"><i class="fa fa-ellipsis-v" aria-hidden="true"></i>  <img style="width:20px;" ng-show="loading" src="../Content/images/cargando.gif" alt="Alternate Text" /></button>
                                        </span>
                                        <input ng-disabled="true" type="text" size="90" class="form-control" name="Terminal2" ng-model="Terminal2" value="" ng-required="!custIdBloq" />

                                    </div>
                                    <div ng-show="form.$submitted || form.Terminal.$touched">
                                        <div class="error-message col-md-3 col-md-push-3" ng-show="form.Terminal.$error.required">{{translation.BE0001.replace('$0$', translation.VENTerminalClave)}}</div>
                                    </div>

                                </div>

                                <!--Almacen e Impresora-->
                                <div class="row form-group ">
                                    <div class="col-md-3">
                                        <label for="name">{{translation.VENAlmacen}}</label>
                                    </div>

                                    <div class="col-md-3">
                                        <select ng-disabled="blockA" id="ddlTipo" style="max-width:100%" class="form-control" data-modal="modal" ng-model="AlmacenIDd" ng-required="true" ng-options="val.AlmacenID as val.NombreCompuesto for val in cAlmacen" name="{{'AlmacenIDd'}}">
                                            <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                        </select>
                                        <div ng-show="form.$submitted || form.AlmacenIDd.$touched">
                                            <div class="error-message" ng-show="form.AlmacenIDd.$error.required">{{translation.BE0001.replace('$0$', translation.VENAlmacen)}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="name">{{translation.VENTipoModImp}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" validar-codigo-moneda ng-model="TipoModImp" name="TipoModImp" ng-options="val.VAVClave as val.Descripcion for val in  tpapel " ng-required="true" validar-tipo-codigo-cambiado="true">
                                            <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                        </select>
                                        <div ng-show="form.$submitted || form.TipoModImp.$touched">
                                            <div class="error-message" ng-show="form.TipoModImp.$error.required">{{translation.BE0001.replace('$0$', translation.VENTipoModImp)}}</div>
                                        </div>
                                    </div>
                                </div>

                                <!--Directorio interfaces de salida-->
                                <div class="row form-group ">
                                    <div class="col-md-3">
                                        <label for="">{{translation.VENDirInterfazSalida}}</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" maxlength="40" class="form-control" data-modal="modal" ng-model="DirectorioISA" name="DirectorioISA" />


                                    </div>
                                </div>

                                <!--ClienteModelo-->
                                <div class="row form-group   ">
                                    <div class="col-md-3">
                                        <label for="ServidorTimbre">{{translation.VENClienteModelo}}</label>
                                    </div>
                                    <div class="col-md-9 input-group ">

                                        <input ng-disabled="blockC" type="text" size="30" class="form-control" name="ClienteModelo" ng-model="ClienteModelo" />


                                        <span class="input-group-btn">
                                            <button ng-disabled="blockC" class="btn btn-default btn-md" ng-click="SeleccionarCliente(); cliente()"><i class="fa fa-ellipsis-v" aria-hidden="true"></i>  <img style="width:20px;" ng-show="loading" src="../Content/images/cargando.gif" alt="Alternate Text" /></button>
                                        </span>
                                        <input ng-disabled="true" type="text" size="90" class="form-control" name="ClienteModelo2" ng-model="ClienteModelo2" />

                                    </div>

                                </div>

                                <!--Lista de precio base-->
                                <div class="row form-group   ">
                                    <div class="col-md-3">
                                        <label for="ServidorTimbre">{{translation.VENListaPrecioBase}}</label>
                                    </div>
                                    <div class="col-md-9 input-group ">
                                        <input type="text" size="30" class="form-control" name="Precio" ng-model="Precio" />


                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-md" ng-click="SeleccionarLista()"><i class="fa fa-ellipsis-v" aria-hidden="true"></i>  <img style="width:20px;" ng-show="loading" src="../Content/images/cargando.gif" alt="Alternate Text" /></button>
                                        </span>
                                        <input ng-disabled="true" type="text" size="90" class="form-control" name="PrecioNombre" ng-model="PrecioNombre" />

                                    </div>

                                </div>
                                <div class="row form-group ">
                                    <div class="col-md-3">
                                        <label for="name">{{translation.VENModificarPrecios}}</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select ng-disabled="ocho" class="form-control" ng-model="Modificar" name="Modificar" ng-options="val.VAVClave as val.Descripcion for val in  modpre">
                                            <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                        </select>
                                    </div>



                                </div>


                                <br />
                                <!--uno-->
                                <div class="row form-group">
                                    <div class="col-md-3 col-sm-6">
                                        <label for="" class="form-check-label lbl-chk-8 top-3">
                                            <input ng-disabled="uno" class="form-check-input  lbl-chk" type="checkbox" name="ActualizarEsquemas" ng-model="ActualizarEsquemas"> {{translation.VENActualizaEsquema}}
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label for="" class="form-check-label lbl-chk-8 top-3">
                                            <input ng-disabled="dos" class="form-check-input lbl-chk" name="CapturarPrecios" ng-model="CapturarPrecios" type="checkbox"> {{translation.VENCapturaPrecio}}
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label for="" class="form-check-label lbl-chk-8 top-3">
                                            <input ng-disabled="tres" class="form-check-input lbl-chk" type="checkbox" name="MostrarEsquemas" ng-model="MostrarEsquemas"> {{translation.VENMostrarEsquema}}
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label for="" class="form-check-label lbl-chk-8 top-3">
                                            <input class="form-check-input lbl-chk" ng-disabled="true" name="Baja" ng-model="Baja" type="checkbox"> {{translation.VENBaja}}
                                        </label>
                                    </div>
                                </div>

                                <!--Dos-->
                                <div class="row form-group">
                                    <div class="col-md-3 col-sm-6">
                                        <label for="" class="form-check-label lbl-chk-8 top-3">
                                            <input ng-disabled="cinco" class="form-check-input lbl-chk" type="checkbox" name="JornadaTradeTrabajo" ng-model="JornadaTradeTrabajo"> {{translation.VENJornadaTrabajo}}
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label for="" class="form-check-label lbl-chk-8 top-3">
                                            <input ng-disabled="seis" class="form-check-input lbl-chk" name="CapturarFolioFactura" ng-model="CapturarFolioFactura" type="checkbox"> {{translation.VENCapturaFolioFac}}
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label for="" class="form-check-label lbl-chk-8 top-3">
                                            <input ng-disabled="siete" class="form-check-input lbl-chk" type="checkbox" name="MostrarCoutas" ng-model="MostrarCoutas"> {{translation.VENMostrarCuota}}
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label for="" class="form-check-label lbl-chk-8 top-3">
                                            <input ng-disabled="ocho" class="form-check-input lbl-chk" name="MantenerPromocion" ng-model="MantenerPromocion" type="checkbox"> {{translation.VENMantenerPrm}}
                                        </label>
                                    </div>
                                </div>

                                <!--Tres-->
                                <div class="row form-group">
                                    <div class="col-md-3 col-sm-6">
                                        <label for="" class="form-check-label lbl-chk-8 top-3">
                                            <input ng-disabled="nueve" class="form-check-input lbl-chk" type="checkbox" name="EditarDatosFiscales" ng-model="EditarDatosFiscales"> {{translation.VENEditarDatosFiscal}}
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label for="" class="form-check-label lbl-chk-8 top-3">
                                            <input ng-disabled="dies" class="form-check-input lbl-chk" name="Kilometraje" ng-model="Kilometraje" type="checkbox"> {{translation.VENKilometraje}}
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label for="" class="form-check-label lbl-chk-8 top-3">
                                            <input ng-disabled="once" class="form-check-input lbl-chk" type="checkbox" name="TiemposMuertos" ng-model="TiemposMuertos"> {{translation.VENTiemposMuertos}}
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label for="" class="form-check-label lbl-chk-8 top-3">
                                            <input ng-disabled="doce" class="form-check-input lbl-chk" name="PagoTarjeta" ng-model="PagoTarjeta" type="checkbox"> Pago Con Tarjeta
                                        </label>
                                    </div>
                                </div>

                            </div>


                        </div>

                        <!--DESCUENTOS-->
                        <div id="descuentos" class="tab-pane">
                            <br />
                            <div class="panel panel-danger">
                                <div class="panel-body">
                                    <div class="container" style="margin-left: 20px; margin-right: 20px;">
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2">

                                                @{ if (!bSoloLectura)
                                                    {
                                                        @Html.ImageButtonLink("../Content/images/crear.png", "NuevoDes()", "{{translation.BTCrear}}")
                                                    }
                                                }
                                            </div>
                                        </div>

                                        <br />
                                        <!--Tabla de Clientes y Botones-->
                                        <div class="row form-group">
                                            <div class="col-md-10 table-responsive scroll-completo">
                                                <table cellpadding="12" class="table table-bordered table-hover">
                                                    <!--Encabezado tabla-->
                                                    <thead>
                                                        <tr>
                                                            <!--Orden ascendente o descendente-->
                                                            <th style="width:3%;"></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Modulo')"><b>{{translation.XModulo2}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Modulo'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Vendedor')"><b>{{translation.XVendedor}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Vendedor'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Cliente')"><b>{{translation.VEDAplicaCliente}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Cliente'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Producto')"><b>{{translation.VEDAplicaProducto}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Producto'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Estado')"><b>{{translation.VENTipoEstado}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Estado'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="des in Descuentos|orderBy:sortKeyDes:reverseDes|orderBy:Lock:true|filter:search">
                                                            <td>
                                                                <!--Eliminar-->
                                                                @{
                                                                    if (sPermiso.Contains("D"))
                                                                    {
                                                                        @Html.ImageButton("../Content/images/eliminar.png", "EliminarDescuento($index, EC.Estado)", "{{translation.BTEliminar}}")
                                                                    }
                                                                }
                                                            </td>
                                                            @*<td class="EditEC" ng-init="EditableEC(EC.Clave);" ng-keypress="ValidarEC($event);">{{EC.Clave}}</td>*@
                                                            <td>
                                                                <md-select placeholder="{{translation.XSeleccionarOpcion}}" class="dropStyles" ng-model="des.Modulo" name="{{'Modulo' + $index }}" ng-change="change(des)" indexName="{{$index}}" modulo="{{des.Modulo.nombre}}" ng-required="true" validar-modulo="true">
                                                                    <md-optgroup label="Módulo: {{mod.modulo}} " ng-repeat="mod in Cmodulos">
                                                                        <md-optgroup ng-if="mod.clave==sub.clave" label="Submódulo: {{sub.submodulo}} " ng-repeat="sub in CSubmodulos">
                                                                            <md-option ng-if="item.clave==sub.clave && item.sclave==sub.sclave" ng-value="item" ng-repeat="item in CHijos">{{item.nombre}}</md-option>
                                                                        </md-optgroup>
                                                                    </md-optgroup>
                                                                </md-select>

                                                                <div ng-show="form.$submitted || form.{{'Modulo' + $index }}.$touched">
                                                                    <div class="error-message" ng-show="form.{{'Modulo' + $index }}.$error.required">{{translation.BE0001.replace('$0$', translation.XModulo2)}}</div>
                                                                    <div class="error-message" ng-show="form.{{'Modulo' + $index }}.$error.moduloRepetido">{{translation.BE0002}}</div>
                                                                </div>

                                                            </td>
                                                            <td align="center">
                                                                <input class="form-check-input lbl-chk" type="checkbox" name="{{'DVendedor' + $index }}" ng-model="des.DVendedor">

                                                            </td>
                                                            <td align="center">
                                                                <input class="form-check-input lbl-chk" type="checkbox" name="{{'DCliente' + $index }}" ng-model="des.DCliente">

                                                            </td>
                                                            <td align="center">
                                                                <input class="form-check-input lbl-chk" type="checkbox" name="{{'DProducto' + $index }}" ng-model="des.DProducto">

                                                            </td>
                                                            <td>
                                                                <select id="ddlEstado" class="form-control" data-modal="modal" ng-model="des.Estado" name="{{'Estado' + $index }}" ng-required="validacion" ng-options="val.VAVClave as val.Descripcion for val in edoreg |filter:{VAVClave: '0'}">
                                                                    <option value="" selected>{{translation.PERActivo}}</option>
                                                                </select>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--SEGMENTOS-->
                        <div id="segmentos" class="tab-pane">
                            <br />
                            <div class="panel panel-danger">
                                <div class="panel-body">
                                    <div class="container" style="margin-left: 20px; margin-right: 20px;">
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2">

                                                @{ if (!bSoloLectura)
                                                    {
                                                        @Html.ImageButtonLink("../Content/images/crear.png", "AgregarClienteEsquema()", "{{translation.BTCrear}}")
                                                    }
                                                }
                                            </div>
                                        </div>

                                        <br />
                                        <!--Tabla de Clientes y Botones-->
                                        <div class="row form-group">
                                            <div class="col-md-10 table-responsive scroll-completo">
                                                <table cellpadding="12" class="table table-bordered table-hover">
                                                    <!--Encabezado tabla-->
                                                    <thead>
                                                        <tr>
                                                            <!--Orden ascendente o descendente-->
                                                            <th style="width:3%;"></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Clave')"><b>{{translation.XClave}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Clave'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Vendedor')"><b>{{translation.VENNombre}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Vendedor'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Cliente')"><b>{{translation.VENTipoEstado}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Cliente'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="esq in clienteEsquema|orderBy:sortKey:reverse">
                                                            @{ if (!bSoloLectura)
                                                                {
                                                                    <td>

                                                                        <span class="btn-eliminar-lenguaje btn-e-l-m-i" ng-show="esq.Nuevo">
                                                                            @Html.ImageButton("../Content/images/eliminar.png", "EliminarClienteEsquema(esq.EsquemaID)", "{{GetDescripcion('BTEliminar', 'Eliminar')}}")
                                                                        </span>
                                                                    </td>
                                                                }
                                                            }

                                                            <td><span style="max-width:100%" data-modal="modal">{{esq.Clave}}</span></td>
                                                            <td><span style="max-width:100%" data-modal="modal" ng-disabled="SoloLectura"> {{esq.Nombre}} </span></td>
                                                            <td>
                                                                <select class="form-control" data-modal="modal" ng-model="esq.TipoEstado" ng-options="val.VAVClave as val.Descripcion for val in  edoreg " ng-required="true" ng-disabled="SoloLectura"></select>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--JORNADAS-->
                        <div id="jornadas" class="tab-pane">
                            <br />
                            <div class="panel panel-danger">
                                <div class="panel-body">
                                    <div class="container" style="margin-left: 20px; margin-right: 20px;">
                                        <br />
                                        <br />

                                        <!--Tabla y Botones-->
                                        <div class="row form-group">
                                            <div class="col-md-10 table-responsive scroll-completo">
                                                <table cellpadding="12" class="table table-bordered table-hover">
                                                    <!--Encabezado tabla-->
                                                    <thead>
                                                        <tr>
                                                            <!--Orden ascendente o descendente-->

                                                            <th class="cursor-pointer" ng-click="sortDes('Captura')"><b>{{translation.DIAFechaCaptura}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Captura'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Inicial')"><b>{{translation.VEJFechaInicial}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Inicial'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Final')"><b>{{translation.VEJFechaFinal}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Final'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="im in impList">
                                                            @{ if (!bSoloLectura)
                                                                {
                                                                    <td>
                                                                        <span class="btn-eliminar-lenguaje btn-e-l-m-i">
                                                                            @Html.ImageButton("../Content/images/eliminar.png", "ValidarEliminarImpuesto($index, im.ImpuestoClave)", "{{translation.BTEliminar}}")
                                                                        </span>
                                                                    </td>
                                                                }
                                                            }
                                                            <td>
                                                                {{im.ImpuestoClave}}
                                                            </td>
                                                            <td>
                                                                {{im.Abreviatura}}
                                                            </td>
                                                            <td>
                                                                {{im.Nombre}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--MENSAJES DEL SISTEMA-->
                        <div id="mensajesdelsistema" class="tab-pane">
                            <br />
                            <div class="panel panel-danger">
                                <div class="panel-body">
                                    <div class="container" style="margin-left: 20px; margin-right: 20px;">
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2">

                                                @{ if (!bSoloLectura)
                                                    {
                                                        @Html.ImageButtonLink("../Content/images/crear.png", "NuevoDes()", "{{translation.BTCrear}}")
                                                    }
                                                }
                                            </div>
                                        </div>

                                        <br />
                                        <!--Tabla  y Botones-->
                                        <div class="row form-group">
                                            <div class="col-md-10 table-responsive scroll-completo">
                                                <table cellpadding="12" class="table table-bordered table-hover">
                                                    <!--Encabezado tabla-->
                                                    <thead>
                                                        <tr>
                                                            <!--Orden ascendente o descendente-->
                                                            <th style="width:3%;"></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Numero')"><b>{{translation.MMENumero}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Numero'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Tipo')"><b>{{translation.XTipo}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Tipo'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Cliente')"><b>{{translation.MMEAsunto}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Cliente'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Asunto')"><b>{{translation.VENDescripcion}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Asunto'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Estado')"><b>{{translation.XEstado}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Estado'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                            <th class="cursor-pointer" ng-click="sortDes('Fase')"><b>{{translation.XFase}}</b><span class="glyphicon sort-icon" ng-show="sortKeyDes=='Fase'" ng-class="{'glyphicon-chevron-up':reverseDes,'glyphicon-chevron-down':!reverseDes}"></span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="im in impList">
                                                            @{ if (!bSoloLectura)
                                                                {
                                                                    <td>
                                                                        <span class="btn-eliminar-lenguaje btn-e-l-m-i">
                                                                            @Html.ImageButton("../Content/images/eliminar.png", "ValidarEliminarImpuesto($index, im.ImpuestoClave)", "{{translation.BTEliminar}}")
                                                                        </span>
                                                                    </td>
                                                                }
                                                            }
                                                            <td>
                                                                {{im.ImpuestoClave}}
                                                            </td>
                                                            <td>
                                                                {{im.Abreviatura}}
                                                            </td>
                                                            <td>
                                                                {{im.Nombre}}
                                                            </td>
                                                            <td>
                                                                {{im.Nombre}}
                                                            </td>
                                                            <td>
                                                                {{im.Nombre}}
                                                            </td>
                                                            <td>
                                                                {{im.Nombre}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>

                    <input type="submit" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="GuardarVendedor()" />
                    <input type="button" value="{{translation.BTCancelar}}" class="btn btn-default" ng-click="ValidarCancelar()" />



                    @{ Html.RenderPartial("MsgBox/YesNoMsgBox"); }
                    @{ Html.RenderPartial("MsgBox/MsgBoxAux"); }
                    @{ Html.RenderPartial("Vendedores/VendedoresBox"); }
                    @{ Html.RenderPartial("Vendedores/VenVigenciaBox"); }
                    @{ Html.RenderPartial("Vendedores/VenClienteMBox"); }
                    @{ Html.RenderPartial("Vendedores/VenListaPreciosBox"); }
                    @{ Html.RenderPartial("Vendedores/VenTerminalBox"); }
                    @{ Html.RenderPartial("Vendedores/VenUsuarioBox"); }
                    @{ Html.RenderPartial("Esquema/SeleccionEsquema"); }
                </form>


            </div>
        </div>
    </div>
   
</div>