@using eRoute.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Menu/Index.cshtml";
    string sPermiso = ViewBag.Permiso;
}
<style>

   

</style>

<div class="container valores margen-tabla" ng-controller="TerminalCtrl" ng-init="AsignarPermisoUsuario('@ViewBag.Permiso')">
    <div class="row">
        <div class="col-md-12 header">
            <h3 class="titulo-altura ng-binding">{{translation.XTerminales}}</h3>       
            
        </div>
    </div>
    <div class="row header-valores">
       
        <div class="col-md-4 col-md-offset-9">
            <dir-pagination-controls max-size="4"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
    <div class="row header-valores">
        <div class="row header-valores">
            <div class="col-md-1">
                @{ if (sPermiso.Contains("C"))
                    {
                        @Html.ImageActionLink("../Content/images/crear.png", Url.Action("Create", new { Permiso = ViewBag.Permiso }), "{{translation.BTCrear}}")
                    }
                }
            </div>
            <div class="col-md-2">
           
                    
                        @Html.ImageActionLink("../Content/images/actualizar.png", Url.Action("Index", new { Permiso = ViewBag.Permiso }), "{{translation.BTActualizar}}")
                    
            </div>
            <div class="col-md-3">
                @{ if (sPermiso.Contains("D"))
                    {
                        @*@Html.ImageActionLink("../Content/images/limpiar.png", "ActualizarTerminal('', True)", "Limpiar Números de Serie")*@
                        @Html.ImageButtonLink("../Content/images/limpiar.png", "ActualizarTerminal('', True)", "Limpiar Números de Serie")
                        
                    }

                }
            </div>
            @*<div class="col-md-3">
                @{ if (sPermiso.Contains("C"))
                    {
                        @Html.ImageActionLink("../Content/images/terminal.png", Url.Action("Create", new { Permiso = ViewBag.Permiso }), "Terminales Sincronizadas")
                    }

                }
            </div>*@
            <div class="col-md-2">
                <form>
                    <div class="input-group">
                        <span class="input-group-addon"><img width="16" height="16" src="../Content/images/buscar.png" /></span>
                        <input type="text" placeholder="{{translation.BTBuscar}}" class="form-control" ng-model="search" />
                    </div>
                </form>
            </div>
            
        </div>

        <div class="col-md-12">
            <table cellpadding="12" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:8%"></th>
                        <th class="cursor-pointer" ng-click="sort('TerminalClave')"><b>{{translation.TERTerminalClave}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TerminalClave'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('Descripcion')"><b>{{translation.TERDescripcion}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Descripcion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('NumeroSerie')"><b>{{translation.TERNumeroSerie}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='NumeroSerie'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('TipoFase')"><b>{{translation.TERTipoFase}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TipoFase'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('GPS')"><b>{{translation.TERGps}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='GPS'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('Nombre')"><b>{{translation.TERAlmacenID}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Nombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>


                        
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="valter in cTerminal|orderBy:sortKey:reverse|filter:search|itemsPerPage:tamPag">
                        <td>
                           @{  if (sPermiso.Contains("U"))
                               {
                                @Html.ImageAction("../Content/images/editar.png", HttpUtility.UrlDecode(Url.Action("Edit", "Terminales", new { TerminalClave = "{{valter.TerminalClave}}", Permiso = ViewBag.Permiso })), "{{translation.btConsultar}}")

                               }
                               else if (sPermiso.Contains("R"))
                               {
                                @Html.ImageAction("../Content/images/consultar.png", HttpUtility.UrlDecode(Url.Action("Details", "Terminales", new { TerminalClave = "{{valter.TerminalClave}}", Permiso = ViewBag.Permiso })), "{{translation.btConsultar}}")
                               }

                        } 
                            &nbsp &nbsp
                            @{
                                if (sPermiso.Contains("D"))
                                {
                                    @*@Html.ImageAction("../Content/images/limpiar.png", HttpUtility.UrlDecode(Url.Action("Details", "Terminales", new { TerminalClave = "{{valter.TerminalClave}}", Permiso = ViewBag.Permiso })), "Limpiar Número de Serie")*@
                                    @Html.ImageButton("../Content/images/limpiar.png", "ActualizarTerminal(valter.TerminalClave, True)", "Limpiar Número de Serie")
                                }


                            }
                            
                       </td>
                        <td>{{valter.TerminalClave}}</td>
                        <td>{{valter.Descripcion}}</td>
                        <td>{{valter.NumeroSerie}}</td>
                        <td>
                            {{valter.TipoFase}}
                        </td>
                        <td><input type="checkbox" name="GPS" ng-model="valter.GPS" ng-checked="valter.GPS" ng-disabled="true"></td>
                        <td>{{valter.Nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


