@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@using Effort.Models
<div class="container">

    <h2>Riesgos</h2>
    <a class="btn btn-primary" href="~/Riesgos/Create" >Crear Riesgo</a>
    <br />   <br />
    <table class="table table-striped">
        <thead>
            <tr>
                @if (((Equipo)HttpContext.Current.Session["Login"]).perfil.Equals("Administrador"))
                { <th></th>}
                
                <th>Proyecto</th>
                <th>Descripcion</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Count > 0)
            {
                foreach (var item in @Model)
                {
                  
                <tr>
                     @if (((Equipo)HttpContext.Current.Session["Login"]).perfil.Equals("Administrador"))
                     { <td><a href='~/Riesgos/Edit?id=@item.idRiesgos'> Editar </a></td>}
                                    
                   <td>@item.nombreProyecto</td>
                   <td>@item.riesgoDesc</td>
                   <td>@item.estadoDesc</td>
                    
                </tr>
                }

            }
       
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            @if (ViewBag.Page > 0)
            {
                <li>

                    <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })" aria-label="Previous" onclick="activePage(@ViewBag.Page);">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (var i = 1; i < @ViewBag.MaxPage + 1; i++)
            {
                <li id="page_@i" ><a href="@Url.Action("Index", new { page = i - 1 })">@i</a></li>
            }
            @if (ViewBag.Page < ViewBag.MaxPage - 1)
            {
                <li>
                    <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })" aria-label="Next" onclick="activePage(@ViewBag.Page);">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>

    <div id="chart_div"></div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var contador = @ViewBag.Page +1;
        $("#page_" + contador).addClass("active");
    });

    var jsonData = $.ajax({
        url: "./Proyecto/proyectosTareasAtrasadas",
        dataType: "json",
        async: false
    }).responseJSON;

    google.load('visualization', '1', { 'packages': ['corechart'] });
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn("string", "Equipo");
        data.addColumn("number", "Tareas atrasadas");

        $.each(jsonData, function (i, item) {
            data.addRow([item.nombreProyecto, item.tareasAtrasadas]);

        });

        var options = {
            title: 'Tareas atrasadas',
            height: 400
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }

</script>