@model Effort.Models.Tarea

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="container">

    <div class="container">
        <h2>Editar Tarea</h2>
        <h4 style="color: red;">@ViewBag.Error</h4>
    </div>
    <form role="form" method="post" action="@Url.Action("Edit", "Tareas")">

        <input type="hidden" id="idTarea" name="idTarea" value="@Model.idTarea" />

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="sel1">Proyecto:</label>
                            @Html.DropDownList("idProyecto",
                            null,
                            new { @class = "form-control",@onchange = "updateTareas(this.value)"  })
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="usr">Titulo:</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" value="@Model.titulo">
                        @Html.ValidationMessageFor(model => model.titulo)
                    </div>
                </div>
            </div>
        </div>


         <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="usr">Descripcion:</label>
                        <textarea type="text" class="form-control" id="descripcion" name="descripcion" >@Model.descripcion</textarea>
                        @Html.ValidationMessageFor(model => model.descripcion)
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="usr">Presupuesto total en horas:</label>
                        <input type="text" class="form-control" id="presupuesto" name="presupuesto" value="@Model.presupuesto" onkeypress="return SoloNumerosDecimales(event, '0.0', 4, 0);">
                        @Html.ValidationMessageFor(model => model.presupuesto)
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="usr">Horas invertidas por dia (ideal):</label>
                        <input type="text" class="form-control" id="horas_estimadas_dia" name="horas_estimadas_dia" value="@Model.horas_estimadas_dia" onkeypress="return SoloNumerosDecimales(event, '0.0', 4, 0);">
                        @Html.ValidationMessageFor(model => model.horas_estimadas_dia)
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                     <div class="form-group">
                        <label for="usr">Fecha inicio:</label>
                        <input  type="text" class="form-control" id="fecha_inicio" name="fecha_inicio" value="@Model.fecha_inicio.Value.ToString("dd/MM/yyyy")">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                     <div class="form-group">
                        <label for="usr">Fecha fin:</label>
                        <input  type="text" class="form-control" id="fecha_fin" name="fecha_fin" value="@Model.fecha_fin.Value.ToString("dd/MM/yyyy")">
                    </div>
                   
                </div>

                <div class="col-xs-12 col-md-6">
                     <div class="form-group">
                        <label for="sel1">Tipo de tarea:</label>
                            @Html.DropDownList("idTipo",
                            null,
                            new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                     <div class="form-group">
                        <label for="sel1">Empleado:</label>
                            @Html.DropDownList("idEquipo",
                            null,
                            new { @class = "form-control" })
                    </div>
                   
                </div>

                <div class="col-xs-12 col-md-6">
                     <div class="form-group">
                        <label for="sel1">Estado:</label>
                            @Html.DropDownList("idEstado",
                            null,
                            new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                     <div class="form-group">
                        <label for="sel1">Predecesora:</label>
                            @Html.DropDownList("predecesora",
                            null,
                            new { @class = "form-control" })
                    </div>
                   
                </div>

                <div class="col-xs-12 col-md-6">
                     <div class="form-group">
                        <label for="sel1">Version:</label>
                            @Html.DropDownList("idVersion",
                            null,
                            new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <a class="btn btn-primary" href="~/Esfuerzo/Index?idTarea=@Model.idTarea">Esfuerzos</a>
            <button class="btn btn-primary" type="submit" class="btn btn-default">Actualizar</button>
            <a class="btn btn-danger" data-toggle="modal" data-target="#eliminar">Eliminar</a>

            <!-- Modal -->
            <div class="modal fade" id="eliminar" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Eliminar</h4>
                        </div>
                        <div class="modal-body">
                            <p>Seguro que deseas eliminar el registro?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="~/Tareas/Delete?id=@Model.idTarea" class="btn btn-default">Aceptar</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <//form>
</div>

<script type="text/javascript">
    // When the document is ready
    $(document).ready(function () {

        $('#idProyecto').trigger('change');

        $('#fecha_inicio').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            clearBtn: true,
            language: "es"

        });

        $('#fecha_fin').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            clearBtn: true,
            language: "es"

        });
    });


    function updateTareas(idProyecto) {

        var selectTareas = $('#predecesora');

        $.ajax({
            url: '/Effort/Tareas/updateTareas',
            data: { idProyecto: idProyecto },
            type: 'GET',
            success: function (data) {
                selectTareas.empty();
                $.each(data, function (index, optiondata) {
                    selectTareas.append("<option value='" + optiondata.Value + "' >" + optiondata.Text + "</option>");
                    
                });
                selectTareas.val('@Model.predecesora');
            }
        });
    }
</script>