@model IEnumerable<eRoute.Models.Mensaje>
@using eRoute.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Menu/Index.cshtml";
    string sPermiso = ViewBag.Permiso;
}

<div class="container valores margen-tabla" ng-controller="ctrMensaje" ng-init="AsignarPermisos('@ViewBag.Permiso')">

    <!--Encabezado-->
    <div class="row">
        <div class="col-md-12 header">
            <h3 class="titulo-altura">{{translation.XMensajes}}</h3>
        </div>
    </div>
    <!--Controles y Paginación-->
    <div class="row header-valores">
        <!--Crear-->
        <div class="col-md-1">
            @{ if (sPermiso.Contains("C"))
                {
                    @Html.ImageActionLink("../Content/images/crear.png", Url.Action("Create", new { Permiso = ViewBag.Permiso }), "{{translation.BTCrear}}")
                }
            }
        </div>
        <!--Actualizar-->
        <div class="col-md-2" style="width:11%">
            @Html.ImageActionLink("../Content/images/actualizar.png", Url.Action("Index", new { Permiso = ViewBag.Permiso }), "{{translation.BTActualizar}}")
        </div>
        <!--Diccionario-->
        <div class="col-md-2" style="width:10%">
            @{ if (sPermiso.Contains("C"))
                {
                    @Html.ImageButtonLink("../Content/images/diccionario.png", "GenerarDiccionario()", "{{translation.BTDiccionario}}")
                }
            }
        </div>
        <!--Buscar/Filtrar resultados-->
        <div class="col-md-3">
            <form>
                <div class="input-group">
                    <span class="input-group-addon"><img width="16" height="16" src="../Content/images/buscar.png" /></span>
                    <input type="text" placeholder="{{translation.BTBuscar}}" class="form-control" ng-model="search" />
                </div>
            </form>
        </div>
        <!--Paginacion-->
        <div class="col-md-5">
            <dir-pagination-controls max-size="7"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>

    <!--Tabla con datos-->
    <div class="row" >
        <div class="col-md-12">
            <table cellpadding="12" class="table table-bordered table-hover">
                <!--Encabezado tabla-->
                <thead>
                    <tr>
                        <th style="width:8%"></th>
                        <th style="cursor: pointer;" ng-click="sort('MENClave')"><b>{{translation.MENClave}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='MENClave'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th style="cursor: pointer;" ng-click="sort('TipoMensaje')"><b>{{translation.MENTipoMensaje}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TipoMensaje'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th style="cursor: pointer;" ng-click="sort('TipoAplicacion')"><b>{{translation.MENTipoAplicacion}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TipoAplicacion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th style="cursor: pointer;" ng-click="sort('TipoProyecto')"><b>{{translation.MENTipoProyecto}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TipoProyecto'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>                
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="msg in mensajes|orderBy:sortKey:reverse|filter:search|itemsPerPage:tamPag">
                        <td style="width:8%">
                            <!---LINEA PROVISIONAL QUITARLA-->
                            @*@Html.ImageAction("/Content/images/editar.png", HttpUtility.UrlDecode(Url.Action("Edit", "Mensaje", new { MENClave = "{{msg.MENClave}}", Permiso = ViewBag.Permiso })), "{{translation.BTModificar}}")*@
                            @{  if (sPermiso.Contains("U"))
                                {
                                    @Html.ImageAction("../Content/images/editar.png", HttpUtility.UrlDecode(Url.Action("Edit", "Mensaje", new { MENClave = "{{msg.MENClave}}", Permiso = ViewBag.Permiso })), "{{translation.BTModificar}}")
                                }
                                else if (sPermiso.Contains("R"))
                                {
                                    @Html.ImageAction("../Content/images/consultar.png", HttpUtility.UrlDecode(Url.Action("Details", "Mensaje", new { MENClave = "{{msg.MENClave}}", Permiso = ViewBag.Permiso })), "{{translation.btConsultar}}")
                                }
                            }

                            &nbsp &nbsp
                            @{  if (sPermiso.Contains("D"))
                                {
                                    @Html.ImageButton("../Content/images/eliminar.png", "ValidarEliminarMensaje(msg)", "{{translation.BTEliminar}}")
                                }
                            }
                        </td>
                        <td>
                            {{msg.MENClave}}
                        </td>
                        <td>
                            {{msg.TipoMensaje}}
                        </td>
                        <td>
                            {{msg.TipoAplicacion}}
                        </td>
                        <td>
                            {{msg.TipoProyecto}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>






    @*<div class="header" style="display: block;"><h3>&nbsp&nbsp{{translation.XMensajes}}</h3></div>*@
    @*@{string sPermiso = ViewBag.Permiso;}*@    
    @*<table cellpadding="12" >
        <tr>
            @{ if (sPermiso.Contains("C")) { <th style="width:9%">@Html.ImageActionLink("../Content/images/crear.png", Url.Action("Create", new { Permiso = ViewBag.Permiso}), "{{translation.BTCrear}}")</th> } }
            <th style="width:12%">@Html.ImageActionLink("../Content/images/actualizar.png", Url.Action("Index", new { Permiso = ViewBag.Permiso}), "{{translation.BTActualizar}}")</th>
            @{ if (sPermiso.Contains("C")) { <th style="width:11%">@Html.ImageButtonLink("../Content/images/diccionario.png", "GenerarDiccionario()", "{{translation.BTDiccionario}}")</th> } }
            <th style="width:20%">
                <form>
                    <div class="input-group">
                        <span class="input-group-addon"><img width="16" height="16" src="../Content/images/buscar.png" /></span>
                        <input type="text" placeholder="{{translation.BTBuscar}}" class="form-control" ng-model="search" />
                    </div>
                </form>
            </th>
            <th style="width:48%">
                <dir-pagination-controls max-size="10"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </th>
        </tr>
    </table>*@
    
    @*<div class="container">

        <lb class="eRouteLabel" style="margin-left: 20px;">Total de Registros </lb>:
        <lb class="eRouteLabel">{{mensajes.length}}  </lb>

        <table cellpadding="12" class="table table-bordered table-hover" style="margin-left: 20px; margin-right: 20px;">
            <tr>
                <th style="width:10%"></th>
                <th style="cursor: pointer;" ng-click="sort('MENClave')"><b>{{translation.MENClave}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='MENClave'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                <th style="cursor: pointer;" ng-click="sort('TipoMensaje')"><b>{{translation.MENTipoMensaje}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TipoMensaje'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                <th style="cursor: pointer;" ng-click="sort('TipoAplicacion')"><b>{{translation.MENTipoAplicacion}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TipoAplicacion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                <th style="cursor: pointer;" ng-click="sort('TipoProyecto')"><b>{{translation.MENTipoProyecto}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TipoProyecto'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>                
            </tr>
            <tr dir-paginate="msg in mensajes|orderBy:sortKey:reverse|filter:search|itemsPerPage:20">
                <td style="width:10%">
                    &nbsp &nbsp
                    -LINEA PROVISIONAL QUITARLA
                    @Html.ImageAction("/Content/images/editar.png", HttpUtility.UrlDecode(Url.Action("Edit", "Mensaje", new { MENClave = "{{msg.MENClave}}", Permiso = ViewBag.Permiso })), "{{translation.BTModificar}}")
                    @{  if (sPermiso.Contains("U"))
                        { 
                            @Html.ImageAction("../Content/images/editar.png", HttpUtility.UrlDecode(Url.Action("Edit", "Mensaje", new { MENClave = "{{msg.MENClave}}", Permiso = ViewBag.Permiso })), "{{translation.BTModificar}}")
                        }
                        else
                        {
                            @Html.ImageAction("../Content/images/consultar.png", HttpUtility.UrlDecode(Url.Action("Details", "Mensaje", new { MENClave ="{{msg.MENClave}}", Permiso = ViewBag.Permiso })), "{{translation.btConsultar}}")                            
                        }
                    }
                    
                    &nbsp &nbsp
                    @{  if (sPermiso.Contains("D"))
                        {                            
                            @Html.ImageButton("../Content/images/eliminar.png", "ValidarEliminarMensaje(msg)", "{{translation.BTEliminar}}")
                        }
                    }
                </td>
                <td>
                    {{msg.MENClave}}
                </td>
                <td>
                    {{msg.TipoMensaje}}
                </td>
                <td>
                    {{msg.TipoAplicacion}}
                </td>
                <td>
                    {{msg.TipoProyecto}}
                </td>                
            </tr>
        </table>

        
    </div>*@

    @{ Html.RenderPartial("MsgBox/YesNoMsgBox");  }
    @{ Html.RenderPartial("MsgBox/MsgBox");  }
</div>



@section Scripts {

}