@using eRoute.Helpers

@{    
    ViewBag.Title = "Mensaje";
    Layout = "~/Views/Menu/Index.cshtml";
    var bSoloLectura = ViewBag.SoloLectura;
    string sPermiso = ViewBag.Permiso;
}
<style>

    #heading {
        color: #FF0000;
    }
</style>
<div class="container" ng-controller="ctrMensaje" ng-init="EditarMensaje('@ViewBag.Clave', '@ViewBag.Permiso', '@ViewBag.SoloLectura.ToString()')">

    <div class="header" style="display: block;">
        <h3>&nbsp&nbsp{{translation.XMensajes}}</h3>
    </div>

    <form name="form" ng-class="{submitted:form.submitted}" novalidate>       
        @*<input type="text" ng-model="Permiso" />*@
        <br />
        <div class="container">
            <div class="container-left form-horizontal">
                <div style="margin-left: 20px">
                    <div class="form-group">
                        <label class="control-label col-md-2">{{translation.MENClave}}*</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" data-modal="modal" ng-model="MENClave" name="MENClave"  ng-required="true" ng-disabled="!Nuevo" validar-clave-unica="true" />
                            <div ng-show="form.$submitted || form.MENClave.$touched">
                                <div class="error-message" ng-show="form.MENClave.$error.required">{{translation.BE0001.replace('$0$', translation.MENClave)}}</div>
                                <div class="error-message" ng-show="form.MENClave.$error.claveRepetida">{{translation.BE0002}}</div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">{{translation.MENTipoAplicacion}}*</label>
                        <div class="col-md-10">
                            <select id="ddlTipoAplicacion" class="form-control" data-modal="modal" ng-model="TipoAplicacion" name="TipoAplicacion" ng-options="val.VAVClave as val.Descripcion for val in bmenapl" ng-required="true" ng-disabled="SoloLectura">
                                <option value="" disabled selected>{{translation.XSeleccionarOpcion}}</option>
                            </select>


                            <div ng-show="form.$submitted || form.TipoAplicacion.$touched">
                                <div class="error-message" ng-show="form.TipoAplicacion.$error.required">{{translation.BE0001.replace('$0$', translation.MENTipoAplicacion)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-right form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">{{translation.MENTipoMensaje}}*</label>
                    <div class="col-md-10">
                        <select id="ddlTipoMensaje" class="form-control" data-modal="modal" ng-model="TipoMensaje" name="TipoMensaje" ng-options="val.VAVClave as val.Descripcion for val in bmensaje" ng-required="true" ng-disabled="SoloLectura">
                            <option value="" disabled selected>{{translation.XSeleccionarOpcion}}</option>
                        </select>
                        <div ng-show="form.$submitted || form.TipoMensaje.$touched">
                            <div class="error-message" ng-show="form.TipoMensaje.$error.required">{{translation.BE0001.replace('$0$', translation.MENTipoMensaje)}}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">{{translation.MENTipoProyecto}}*</label>
                    <div class="col-md-10">
                        <select id="ddlTipoProyecto" class="form-control" data-modal="modal" ng-model="TipoProyecto" name="TipoProyecto" ng-options="val.VAVClave as val.Descripcion for val in bproyect" ng-required="true" ng-disabled="SoloLectura">
                            <option value="" disabled selected>{{translation.XSeleccionarOpcion}}</option>
                        </select>
                        <div ng-show="form.$submitted || form.TipoProyecto.$touched">
                            <div class="error-message" ng-show="form.TipoProyecto.$error.required">{{translation.BE0001.replace('$0$', translation.MENTipoProyecto)}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container" style="margin-left: 20px; margin-right: 20px;">
           
            <div></div>
            @{ if (!bSoloLectura)
                {
                    @Html.ImageButtonLink("../Content/images/crear.png", "AgregarLenguaje()", "{{translation.XLenguajes}}")
                }
            }
            <b id="heading">{{translation.MEDMEDTipoLenguaje}}s </b>
            <br />
            <br />
            <div ng-init="ObtenerDetalle('@ViewBag.Clave')">
                <table cellpadding="12" class="table table-bordered table-hover">
                    <tr>
                        @{ if (sPermiso.Contains("D") @*!bSoloLectura*@)
                            {
                                <th style="width:5%"></th>
                            }
                        }                        
                        <th style="width:20%"><b>{{translation.MEDMEDTipoLenguaje}} *</b></th>
                        <th ><b>{{translation.MEDDescripcion}} *</b></th>
                    </tr>
                    <tr ng-repeat="det in mendetalle">
                        @{ if (sPermiso.Contains("D") @*!bSoloLectura*@)
                            {
                                <td style="width:5%">
                                    &nbsp&nbsp
                                    @Html.ImageButton("../Content/images/eliminar.png", "ValidarEliminarLenguaje($index)", "{{translation.BTEliminar}}")
                                </td>
                            }
                        }                        
                        <td style="width:20%">
                            <select id="ddlMEDTipoLenguaje" style="max-width:100%" class="form-control" data-modal="modal" ng-model="det.MEDTipoLenguaje" ng-options="val.VAVClave as val.Descripcion for val in blengua" name="{{'MEDTipoLenguaje' + $index }}" ng-required="true" validar-lenguaje="true" ng-disabled="SoloLectura">
                                <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                            </select>
                            <div ng-show="form.$submitted || form.{{'MEDTipoLenguaje' + $index }}.$touched">
                                <div class="error-message" ng-show="form.{{'MEDTipoLenguaje' + $index }}.$error.required">{{translation.BE0001.replace('$0$', translation.MEDMEDTipoLenguaje)}}</div>
                                <div class="error-message" ng-show="form.{{'MEDTipoLenguaje' + $index }}.$error.lenguajeRepetido">{{translation.BE0002}}</div>
                            </div>
                        </td>
                        <td>
                            <input type="text" class="form-control" style="max-width:100%" data-modal="modal" ng-model="det.Descripcion" name="{{'Descripcion' + $index }}"  ng-required="true" ng-disabled="SoloLectura" />
                            <div ng-show="form.$submitted || form.{{'Descripcion' + $index }}.$touched">
                                <div class="error-message" ng-show="form.{{'Descripcion' + $index }}.$error.required">{{translation.BE0001.replace('$0$', translation.MEDDescripcion)}}</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="container" style="margin-left: 20px">
           
            @{  if (!bSoloLectura)
                {
                    <input type="submit" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="GuardarMensaje()" />
                    <input type="button" value="{{translation.BTCancelar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                }
                else
                {
                    <input type="button" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                }
            }            
        </div>

        @{ Html.RenderPartial("MsgBox/YesNoMsgBox"); }
        @{ Html.RenderPartial("MsgBox/MsgBox"); }

    </form>
</div>

@*}*@
