@using eRoute.Helpers

@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Menu/Index.cshtml";
    var bSoloLectura = ViewBag.SoloLectura;
}

<div class="container" ng-controller="ctrPerfil" ng-init="EditarPerfil('@ViewBag.Clave', '@ViewBag.Permiso', '@ViewBag.SoloLectura.ToString()')">

    <div class="header" style="display: block;">
        <h3>&nbsp&nbsp{{translation.XPerfiles}}</h3>
    </div>

    <form name="form" ng-class="{submitted:form.submitted}" novalidate>
        <br />

        <div class="container">
            <div class="container-left form-horizontal">
                <div style="margin-left: 20px">
                    <div class="form-group">
                        <label class="control-label col-md-2">{{translation.PERPERClave}}*</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" data-modal="modal" ng-model="PERClave" name="PERClave" placeholder="{{translation.PERPERClave}}" ng-required="true" ng-disabled="!Nuevo" perfil-clave-unica="true" ng-maxlength="8"/>
                            <div ng-show="form.$submitted || form.PERClave.$touched">
                                <div class="error-message" ng-show="form.PERClave.$error.required">{{translation.BE0001.replace('$0$', translation.PERPERClave)}}</div>
                                <div class="error-message" ng-show="form.PERClave.$error.claveRepetida">{{translation.BE0002}}</div>
                                <div class="error-message" ng-show="form.PERClave.$error.maxlength">{{translation.E1004.replace('$0$','8')}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">{{translation.PERDescripcion}}*</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" data-modal="modal" ng-model="Descripcion" name="Descripcion" placeholder="{{translation.PERDescripcion}}" ng-required="true" ng-disabled="SoloLectura" ng-maxlength="40"/>
                            <div ng-show="form.$submitted || form.Descripcion.$touched">
                                <div class="error-message" ng-show="form.Descripcion.$error.required">{{translation.BE0001.replace('$0$', translation.PERDescripcion)}}</div>     
                                <div class="error-message" ng-show="form.Descripcion.$error.maxlength">{{translation.E1004.replace('$0$','40')}}</div>                          
                            </div>
                        </div>
                    </div>
                    <p>{{bb}}</p>
                </div>
            </div>
            <div class="container-right form-horizontal">
                <div class="form-group form-inline">
                    <input type="checkbox" ng-model="Activo" name="Activo" ng-true-value="true" ng-disabled="SoloLectura" ng-false-value="false" />
                    <label class="control-label col-md-2">{{translation.PERActivo}}</label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">{{translation.INTINTTipoInterfaz}}*</label>
                    <div class="col-md-10">
                        <select id="ddlTipoInterfaz" class="form-control" data-modal="modal" ng-disabled="SoloLectura" ng-model="INTTipoInterfaz" name="INTTipoInterfaz" ng-options="val.VAVClave as val.Descripcion for val in BINTERF" ng-required="true" >
                            <option value="" disabled selected>{{translation.XSeleccionarOpcion}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
       
        <br />
        <div class="container">
            <div class="container-left" ng-init="ObtenerDisponibles('@ViewBag.Clave', '1')">
                <div class="container" style="padding-left:15px"><label class="eRouteLabel">{{translation.XDisponibles}}</label></div>
                
                <div class="container" style="border:solid; border-color:ActiveBorder; padding-left:10px; width:95%" ui-tree>                    
                    <div ui-tree="treeOptions">
                        <ol ui-tree-nodes="" ng-model="modulosDisponibles" id="treeDisponibles" data-nodrop-enabled>
                            <li ng-repeat="modulo in modulosDisponibles" ui-tree-node collapsed="true" ng-hide="modulo.TipoInterfaz != INTTipoInterfaz">
                                <div ui-tree-handle class="tree-node tree-node-content" data-nodrag>
                                    <a class="btn btn-link btn-xs control-label" style="font-size:14px;" data-nodrag ng-click="toggle(this)"><img data-ng-src="data:image/png;base64,{{modulo.ImagenBase64}}" /> {{modulo.Nombre}}</a>                                   
                                </div>
                                <ol ui-tree-nodes="" ng-model="modulo.Actividades" ng-class="{hidden: collapsed}">
                                    <li ng-repeat="actividad in modulo.Actividades" ui-tree-node>
                                        <div ui-tree-handle class="tree-node e-node-content">
                                            {{actividad.Nombre}}
                                        </div>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="container-right" ng-init="ObtenerAsignadas('@ViewBag.Clave', '1')">
                <div class="container" style="padding-left:15px"><label class="eRouteLabel">{{translation.XAsignadas}}</label></div>               

                <div class="container" style="border:solid; border-color:ActiveBorder; padding-left:10px; width:95%" ui-tree>
                     <ol ui-tree-nodes="" ng-model="modulosAsignados" id="treeAsignadas" data-nodrop-enabled>
                        <li ng-repeat="modulo in modulosAsignados" ui-tree-node collapsed="true" ng-hide="modulo.TipoInterfaz != INTTipoInterfaz">
                            <div ui-tree-handle class="tree-node tree-node-content" data-nodrag>
                                <a class="btn btn-link btn-xs control-label" style="font-size:14px;" data-nodrag ng-click="toggle(this)"><img data-ng-src="data:image/png;base64,{{modulo.ImagenBase64}}" /> {{modulo.Nombre}}</a>                               
                            </div>
                            <ol ui-tree-nodes="" ng-model="modulo.Actividades" ng-class="{hidden: collapsed}">
                                <li ng-repeat="actividad in modulo.Actividades" ui-tree-node>
                                    <div ui-tree-handle class="tree-node tree-node-content">
                                        <div class="container">
                                            <div style="display: block; float: left; width:60%">{{actividad.Nombre}}</div>
                                            <div style="display: block; float: right; width:40%">
                                                <input type="checkbox" data-toggle='tooltip' title={{translation.BTCrear}} ng-model="actividad.Create" name="Crear" ng-true-value="true" ng-false-value="false" ng-disabled=!actividad.Permiso.includes('C') data-nodrag/> @*ng-checked=actividad.PermisoA.includes('C')*@
                                                <input type="checkbox" data-toggle='tooltip' title={{translation.btConsultar}}  ng-model="actividad.Read" name="Consultar" ng-false-value="false" ng-disabled=!actividad.Permiso.includes("R") data-nodrag/> @*ng-checked=actividad.PermisoA.includes('R')*@
                                                <input type="checkbox" data-toggle='tooltip' title={{translation.BTModificar}} ng-model="actividad.Update" name="Modificar" ng-true-value="true" ng-false-value="false" ng-disabled=!actividad.Permiso.includes("U") data-nodrag/> @*ng-checked=actividad.PermisoA.includes('U')*@
                                                <input type="checkbox" data-toggle='tooltip' title={{translation.XEliminar}} ng-model="actividad.Delete" name="Eliminar" ng-true-value="true" ng-false-value="false" ng-disabled=!actividad.Permiso.includes("D") data-nodrag/> @*ng-checked=actividad.PermisoA.includes('D')*@
                                                <input type="checkbox" data-toggle='tooltip' title={{translation.Xejecutar}} ng-model="actividad.Execute" name="Ejecutar" ng-true-value="true" ng-false-value="false" ng-disabled=!actividad.Permiso.includes("E") data-nodrag/> @*ng-checked=actividad.PermisoA.includes('E')*@
                                                <input type="checkbox" data-toggle='tooltip' title={{translation.XOtros}} ng-model="actividad.Others" name="Otros" ng-true-value="true" ng-false-value="false" ng-disabled=!actividad.Permiso.includes("O") data-nodrag/> @*ng-checked=actividad.PermisoA.includes('O')*@
                                                <input type="checkbox" data-toggle='tooltip' title={{translation.XImprimir}} ng-model="actividad.Print" name="Imprimir" ng-true-value="true" ng-false-value="false" ng-disabled=!actividad.Permiso.includes("P") data-nodrag/> @*ng-checked=actividad.PermisoA.includes('P')*@
                                                <input type="checkbox" data-toggle='tooltip' title={{translation.XFirmar}} ng-model="actividad.Sign" name="Firmar" ng-true-value="true" ng-false-value="false" ng-disabled=!actividad.Permiso.includes("S") data-nodrag/> @*ng-checked=actividad.PermisoA.includes('S')*@ 
                                                
                                            </div>
                                        </div>
                                                                        
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>                  
            </div>       
        </div>

        <br />

        <div class="container" style="margin-left: 20px">

            @{  if (!bSoloLectura)
                {
                    <input type="submit" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="GuardarPerfil()" />
                    <input type="button" value="{{translation.BTCancelar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                }
                else
                {
                    <input type="button" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                }
            }
        </div>

        @{ Html.RenderPartial("MsgBox/YesNoMsgBox"); }
        @{ Html.RenderPartial("MsgBox/MsgBox"); }

    </form>
</div>

@*}*@