@using eRoute.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Menu/Index.cshtml";
    string sPermiso = ViewBag.Permiso;
}


<style>
</style>

<div class="container valores margen-tabla" ng-controller="rutasCtrl" ng-init="AsignarPermisoRutas('@ViewBag.Permiso')">

    <!--Encabezado-->
    <div class="row">
        <div class="col-md-12 header">
            <h3 class="titulo-altura">{{translation.XRutas}}</h3>
        </div>
    </div>

    <!--Controles y Paginación-->
    <div class="row header-valores">

        <!--Grupo de acciones-->
        <!--Crear-->
        <div class="col-md-1">
            @{ if (sPermiso.Contains("C")){
                @Html.ImageActionLink("../Content/images/crear.png", Url.Action("Create", new { Permiso = ViewBag.Permiso }), "{{translation.BTCrear}}")
                }
            }
        </div>
        <!--Actualizar-->
        <div class="col-md-2">
            @Html.ImageActionLink("../Content/images/actualizar.png", "javascript:location.reload()", "{{translation.BTActualizar}}")
        </div>
        <!--Buscar/Filtrar resultados-->
        <div class="col-md-3">
            <form>
                <div class="input-group">
                    <span class="input-group-addon"><img width="16" height="16" src="../Content/images/buscar.png" /></span>
                    <input type="text" placeholder="{{translation.BTBuscar}}" class="form-control" ng-model="search" />
                </div>
            </form>
        </div>
        <!--Paginacion-->
        <div class="col-md-5">
            <dir-pagination-controls max-size="8"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>

    <!--Tabla con datos-->
    <div class="row" ng-init="ObtenerRutas()">
        <div class="col-md-12">
            <table cellpadding="12" class="table table-bordered table-hover">
                <!--Encabezado tabla-->
                <thead>
                    <tr>
                        <th style="width:6%"></th>
                        <!--Orden ascendente o descendente-->
                        <th class="cursor-pointer" ng-click="sort('RUTClave')"><b>{{translation.RUTRUTClave}}</b><span class="glyphicon sort-icon" ng-show="sortKey=='RUTClave'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('Descripcion')"><b>{{translation.RUTDescripcion}}</b><span class="glyphicon sort-icon" ng-show="sortKey=='Descripcion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('Tipo')"><b>{{translation.RUTTipo}}</b><span class="glyphicon sort-icon" ng-show="sortKey=='Tipo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th>Activo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="rut in rutas|orderBy:sortKey:reverse|filter:search|itemsPerPage:tamPag">
                        <td>
                            <!--Modificar-->
                            @{  if (sPermiso.Contains("U"))
                                {
                                    @Html.ImageAction("../Content/images/editar.png", HttpUtility.UrlDecode(Url.Action("Edit", "Rutas", new { Clave = "{{rut.RUTClave}}", Permiso = ViewBag.Permiso })), "{{translation.BTModificar}}")
                                }
                                else if (sPermiso.Contains("R"))
                                {
                                    @Html.ImageAction("../Content/images/consultar.png", HttpUtility.UrlDecode(Url.Action("Details", "Rutas", new { Clave = "{{rut.RUTClave}}", Permiso = ViewBag.Permiso })), "{{translation.btConsultar}}")
                                }
                            }
                        </td>
                        <td>{{rut.RUTClave}}</td>
                        <td>{{rut.Des}}</td>
                        <td>{{rut.Tip}}</td>
                        <!--Checkbox en base a un estado-->
                        <td><input type="checkbox" ng-disabled="true" ng-checked="rut.Act" name="CheckboxActivo" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Preguntar que es-->
    @{ Html.RenderPartial("MsgBox/YesNoMsgBox"); }
    @{ Html.RenderPartial("MsgBox/MsgBox"); }
</div>