@{
    Layout = null;
}

@using Effort.Models

<!DOCTYPE html>

<html>
<head>
    <title>Effort</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/content/css/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/Site.css" rel="stylesheet" type="text/css" />
    <style>

.my-anchor { position:relative; }

.field-validation-error {

  color:red;

}

</style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Effort</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href='@Url.Action("Index", "Proyecto")'><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href='@Url.Action("Index", "Riesgos")'>Riesgos</a></li>
                    @if (((Equipo)HttpContext.Current.Session["Login"]).perfil.Equals("Administrador")){
                        <li><a href='@Url.Action("Index", "Equipo")'>Equipo</a></li>
                    }
                    <li><a href='@Url.Action("Index", "Tareas")'>Tareas</a></li>
                     @if (((Equipo)HttpContext.Current.Session["Login"]).perfil.Equals("Administrador")){
                        <li><a href='@Url.Action("Index", "FechasInhabiles")'>Dias Inhabiles</a></li>
                     
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("TareasEmpleado","Reporte")">Tareas por empleado</a></li>
                                <li><a href="@Url.Action("Gantt","Reporte")">Gantt</a></li>
                                <li><a href="@Url.Action("ProyectosAsignados","Reporte")">Proyectos asignados</a></li>
                                <li><a href="@Url.Action("EsfuerzoProyectos","Reporte")">Esfuerzo de proyectos</a></li>
                                <li><a href="@Url.Action("EsfuerzoTareas","Reporte")">Esfuerzo en tareas</a></li>
                                <li><a href="@Url.Action("AdministracionRiesgo","Reporte")">Risk & issues management</a></li>
                                <li><a href="@Url.Action("Avance","Reporte")">Time Sheet</a></li>
                            </ul>
                        </li>     
                    }                       
                </ul>

                <ul class="nav navbar-nav navbar-right">                    
                   <li><a href="@Url.Action("LogOff", "Account")"><i class="glyphicon glyphicon-log-out"></i> <span>Cerrar Sesión</span> </a></li> 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container">
        <asp:contentplaceholder id="ContentPlaceHolder1" runat="server">
        
            </asp:contentplaceholder>
    </div>

    <script src="~/Scripts/bootstrap/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.es.min.js"></script>
    <script src="~/Scripts/utilerias.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    @RenderBody()
    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts", required: false)
    }
</body>
</html>
