@using eRoute.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Menu/Index.cshtml";
    var bSoloLectura = ViewBag.SoloLectura;
    string sPermiso = ViewBag.Permiso;
}
<style>
    /**ESTILOS PROPIOS*/
    #cuadrado {
        background: red;
        width: 100px;
        height: 100px;
        margin: 30px;
    }

    input, select, textarea {
        max-width: none !important;
    }

    @@media (min-width: 992px) {
        .col-md-1 {
            width: 10%;
        }
    }


    /******/
    .form-valor .form-group label {
        margin-top: 7px;
    }

    md-radio-button {
        display: inline-block !important;
    }
    /*Ancho de la modalPrecioBox*/

    .modal-dialog2 {
        width: 90%;
        overflow-y: initial !important;
        margin: auto;
    }

    .validateBox2 {
        height: 400px !important;
        overflow-y: auto;
    }

    .btn-eliminar-lenguaje {
        display: inline-block;
        margin-top: 5px;
    }

    .btn-e-l-m-i {
        margin-left: 5px;
    }

    .w {
        margin-top: 10px;
    }

    .tam {
        height: 1px;
    }
    /*----------------*/
</style>

<div class="container valores margen-tabla" ng-controller="PrecioCtrl as ctrl" ng-init="EditarPrecio('@ViewBag.Clave', '@ViewBag.Permiso', '@ViewBag.SoloLectura.ToString()')">
    <div class="header" style="display: block;">
        <h3>{{translation.RCAListaPrecios}}</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form name="form" class="form-horizontal form-valor" ng-class="{sumitted:form.submited}" novalidate>
                <div role="tabpanel">
                    <div class="tab-content">
                        <br />
                        <div role="tabpanel" class="tab-pane active" id="seccion1">
                            <div class="row form-group ">
                                <!--Clave-->
                                <label class="col-md-1">
                                    {{translation.XClave}}*:<!--translation.XClave | uppercase  *poner en MAYUSCULAS LAS LETRAS-->
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" data-modal="modal" ng-model="PrecioClave" name="PrecioClave" placeholder="{{translation.XClave}}" ng-required="true" validar-clave-precio="true" ng-disabled="SoloLectura" />
                                    <div ng-show="form.$submitted || form.PrecioClave.$touched">
                                        <div class="error-message w" ng-show="form.PrecioClave.$error.required">{{translation.BE0001.replace('$0$', translation.XClave)}}</div>
                                        <div class="error-message" ng-show="form.PrecioClave.$error.clavePrecioRepetida">{{translation.BE0002}}</div>
                                    </div>
                                </div>
                                <!--TipoEstado*-->
                                <label class="col-md-2">
                                    {{translation.XEstado}}*:
                                </label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="TipoEstado" name="TipoEstado" ng-options="val.VAVClave as val.Descripcion for val in edoreg" ng-required="true" ng-disabled="SoloLectura">
                                        <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                    </select>
                                    <div ng-show="form.$submitted || form.TipoEstado.$touched">
                                        <div class="error-message col-md-offset-12 w" ng-show="form.TipoEstado.$error.required">{{translation.BE0001.replace('$0$', translation.XEstado)}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <!--Nombre*-->
                                <label class="col-md-1">
                                    {{translation.PRENombre}}*:
                                </label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" data-modal="modal" ng-required="true" ng-model="Nombre" name="Nombre" placeholder="{{translation.PRENombre}}" ng-disabled="SoloLectura" />
                                    <div class="row" ng-show="form.$submitted || form.Nombre.$touched">
                                        <div class="error-message col-md-4 w" ng-show="form.Nombre.$error.required">{{translation.BE0001.replace('$0$', translation.PRENombre)}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <!--Jerarquia-->
                                <label class="col-md-1">
                                    {{translation.PREJerarquia}}:
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" data-modal="modal" ng-model="Jerarquia" name="Jerarquia" placeholder="{{translation.PREJerarquia}}" ng-required="false" valid-number-int ng-disabled="SoloLectura" />
                                </div>
                                <!--FormadeVenta-->
                                <label class="col-md-2">
                                    {{translation.XFormaVenta}}:
                                </label>
                                <div class="col-md-3">
                                    <select id="ddlCFVTipo" class="form-control" data-modal="modal" ng-model="CFVtipo" name="CFVtipo" ng-required="false" ng-options="val.VAVClave as val.Descripcion for val in fventa" ng-disabled="SoloLectura">
                                        <option value="" selected>{{translation.XNinguna}}</option>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <!--Otraparte-->
                            <div class="container">
                                <div class="row">
                                    <!--AgregarProducto-->
                                    <div class="col-md-2">
                                        @{ if (sPermiso.Contains("C"))
                                            {
                                                @Html.ImageButtonLink("/Content/images/crear.png", "AgregarPrecio()", "{{translation.XAgregar}} {{translation.XProducto}}")
                                            }
                                        }
                                    </div>
                                    <!--Buscar-->
                                    <div class="col-md-5 input-group">
                                        <span class="input-group-addon"><img width="15" height="15" src="/Content/images/buscar.png" /></span>
                                        <input type="text" placeholder="{{translation.BTBuscar}}" class="form-control" ng-model="search2" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div ng-show="form.$submitted ">
                                            <div class="error-message w" ng-show="!ListaValida">{{translation.E0044.replace('$0$', translation.XPrecio)}}</div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                @*<pre>PRECIOAUX: {{PrecioAux}}</pre>
                                <pre>PRECIOAUX2: {{PrecioAux2}}</pre>
                                <pre>PROPRELIST: {{ProPreList}}</pre>*@
                                <!--Creando tabla-->
                                <div ng-init="ObtenerlistasdePrecios('@ViewBag.Clave')">
                                    <table cellpadding="12" class="table table-bordered table-hover valor-table">
                                        <tr>
                                            @{ if (!bSoloLectura || sPermiso.Contains("U"))
                                                {
                                                    <th style="width:9%"></th>
                                                }
                                            }
                                            <!--Encabezados de la tabla-->
                                            <th style="width:5px"><b>{{translation.PROProductoClave}}</b></th>
                                            <th style="width:500px"><b>{{translation.PRONombre}}</b></th>
                                            <th style="width:500px"><b>{{translation.XUnidad}}</b></th>
                                            <th style="width:1px"><b>{{translation.XInicio}}</b></th>
                                            <th style="width:500px"><b>{{translation.XPrecio}}</b></th>
                                            <th style="width:500px"><b>{{translation.PPVPrecioMinimo}}</b></th>
                                            <th style="width:500px"><b>{{translation.PPVPrecioSugerido}}</b></th>
                                            <th style="width:500px"><b>{{translation.XEstado}}</b></th>
                                        </tr>
                                        <tr ng-repeat="precio in ProPreList|filter:search2">
                                            @{if (!bSoloLectura)
                                                {
                                                    <td>
                                                        <!--Eliminar-->
                                                        @{if (!bSoloLectura)
                                                            {
                                                                <div class="col-md-1" ng-disabled="true" ng-if="precio.Consultado==undefined && Action=='Edit' || Action=='Create'">
                                                                    <span class="btn-eliminar-lenguaje btn-e-l-m-i">
                                                                        @Html.ImageButton("/Content/images/eliminar.png", "ValidarEliminarProducto(precio.id,true)", "Eliminar Producto", " ", " ")
                                                                    </span>
                                                                </div>
                                                            }
                                                        }

                                                        <!--Calendario-->
                                                        @{if (!bSoloLectura)
                                                            {
                                                                <div class="col-md-1" precio="{{precio.ProductoClave}}" unidad="{{precio.PRUTipoUnidad}}" ng-show="!Nuevo" ng-disabled="true" ng-if="precio.Consultado==1 &&  Action=='Edit' || Action=='Cancel' || Action=='Update'">
                                                                    <span class="btn-eliminar-lenguaje btn-e-l-m-i">
                                                                        @Html.ImageButton("/Content/images/calendario.png", "VigenciaProducto(precio.ProductoClave,precio.PRUTipoUnidad,precio.Nombre) ", "Vigencia", " ", " ")
                                                                    </span>
                                                                </div>
                                                            }
                                                        }
                                                    </td>
                                                            }
                                            }
                                            

                                            <!--Mostrando Productos agregados-->
                                            <!--Clave-->
                                            <td>
                                                <span data-modal="modal" name="{{'ProductoClave' + $index}}">{{precio.ProductoClave}}</span>
                                            </td>

                                            <!--Nombre Corto-->
                                            <td>
                                                <span data-modal="modal" name="{{'Nombre' + $index}}">{{precio.Nombre}}</span>
                                            </td>

                                            <!--Unidad-->
                                            <td>
                                                <div>
                                                    <select class="form-control"
                                                            ng-disabled="true"
                                                            ng-if="precio.Consultado==1 && Action=='Edit' || Action=='Update'"
                                                            indexName="{{$index}}"
                                                            ng-change="change(precio.id)"
                                                            id="{{precio.id}}"
                                                            unidad="{{precio.ProductoClave}}"
                                                            validar-unidad="true"
                                                            ng-required="true"
                                                            data-modal="modal"
                                                            ng-model="precio.PRUTipoUnidad"
                                                            name="{{'PRUTipoUnidad' + $index}}"
                                                            ng-options="val.VAVClave as val.Descripcion for val in unidadv">
                                                        <option value="" selected>
                                                            {{translation.XSeleccionarOpcion}}
                                                        </option>
                                                    </select>
                                                    <select ng-if="precio.Consultado===undefined"
                                                            indexName="{{$index}}"
                                                            ng-change="change(precio.id)"
                                                            id="{{precio.id}}"
                                                            unidad="{{precio.ProductoClave}}"
                                                            validar-unidad="true"
                                                            class="form-control"
                                                            ng-required="true"
                                                            data-modal="modal"
                                                            ng-model="PRUTipoUnidad"
                                                            name="{{'PRUTipoUnidad' + $index }}"
                                                            ng-options="val.VAVClave as val.Descripcion for val in precio.PRUTipoUnidad">
                                                        <option value="" selected>
                                                            {{translation.XSeleccionarOpcion}}
                                                        </option>
                                                    </select>
                                                    <div ng-show="form.$submitted || form.{{'PRUTipoUnidad' + $index }}.$touched">
                                                        <div class="error-message" ng-show="form.{{'PRUTipoUnidad' + $index }}.$error.required">
                                                            {{translation.BE0001.replace('$0$', translation.XUnidad)}}
                                                        </div>
                                                        <div class="error-message" ng-show="form.{{'PRUTipoUnidad' + $index }}.$error.unidadRepetida">
                                                            {{translation.BE0002}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <!--Calendario-->
                                            <td>
                                                <div>
                                                    <md-datepicker class="md-picker-style"
                                                                   ng-required="true"
                                                                   ng-model="precio.PPVFechaInicio"
                                                                   name="{{'PPVFechaInicio' + $index }}"
                                                                   md-placeholder="{{precio.PPVFechaInicio | date:'MM/dd/yyyy'}}"
                                                                   consu="{{precio.Consultado}}"
                                                                   ng-if="precio.Consultado==1 && Action=='Edit' || Action=='Update'"
                                                                   ng-disabled="SoloLectura">
                                                        <!--md-max-date="maxDate"-->
                                                        <!--md-min-date="minDate"-->
                                                    </md-datepicker>
                                                    <md-datepicker class="md-picker-style"
                                                                   ng-required="true"
                                                                   ng-model="precio.PPVFechaInicio"
                                                                   name="{{'PPVFechaInicio' + $index }}"
                                                                   md-placeholder=" {{precio.PPVFechaInicio | date:'MM/dd/yyyy'}} "
                                                                   validar-fecha-min-max="true"
                                                                   consu="{{precio.Consultado}}"
                                                                   ng-disabled="true"
                                                                   ng-if="precio.Consultado===undefined">
                                                        <!--md-max-date="maxDate"-->
                                                        <!--md-min-date="minDate"-->
                                                    </md-datepicker>
                                                    <!--<pre>{form.PPVFechaInicio1 }}</pre>-->
                                                    <div ng-show="form.$submitted || form.{{'PPVFechaInicio' + $index }}.$touched">
                                                        <div class="error-message" ng-show="form.{{'PPVFechaInicio' + $index }}.$error.fechaMin">
                                                            {{translation.E0073.replace('$0$', translation.PPVFechaInicio)}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-controller="myCtrl" class="input-group">
                                                    <input class="form-control" ng-model="precio.Precio" pn="{{precio.Consultado}}" pu="{{precio.PRUTipoUnidad}}" pc="{{precio.ProductoClave}}" validar-precio-cero="true" name="{{'Precio' + $index }}" ng-required="true" placeholder="$0.00" amount="stake" valid-number blur-to-currency ng-disabled="SoloLectura">
                                                    <div ng-show="form.$submitted || form.{{'Precio' + $index}}.$touched">
                                                        <div class="error-message" ng-show="form.{{'Precio' + $index }}.$error.required">{{translation.BE0001.replace('$0$', translation.XPrecio)}}</div>
                                                        <div class="error-message" ng-show="form.{{'Precio' + $index}}.$error.precioMinimoCero">[E0044]El Precio dede ser mayo a 0.</div>
                                                        <div class="error-message" ng-show="form.{{'Precio' + $index}}.$error.precioCambio">[E0024]El Precio ha cambiado.</div>
                                                    </div>
                                                </div>
                                                @*<pre>{{form.$submitted}}</pre>*@
                                            </td>
                                            <p>{{precio.Consultado}}</p>
                                            <td>
                                                <div ng-controller="myCtrl" class="input-group">
                                                    <!-- <span class="input-group-addon">$</span>-->
                                                    <input class="form-control" precio="{{precio.Precio}}" ng-model="precio.PrecioMinimo" validar-precio-minimo="true" name="{{'PrecioMinimo' + $index }}" placeholder="$0.00" amount="stake" valid-number blur-to-currency ng-disabled="SoloLectura">
                                                    <div ng-show="form.$submitted || form.{{'PrecioMinimo' + $index }}.$touched">
                                                        <div class="error-message" ng-show="form.{{'PrecioMinimo' + $index }}.$error.precioMinimoIgual">
                                                            {{translation.E0333.replace('$0$', translation.PPVPrecioMinimo).replace('$1$', translation.XPrecio)}}
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<pre>{{form.$submitted}}</pre>*@
                                            </td>
                                            <td>
                                                <div ng-controller="myCtrl" class="input-group">
                                                    <input class="form-control " ng-model="precio.PrecioSugerido" ng-focus="validarPrecioSugerido( $index )" name="{{'PrecioSugerido' + $index }}" id="{{'PrecioSugerido' + $index }}" placeholder="$0.00" amount="stake" valid-number blur-to-currency ng-disabled="SoloLectura">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <select class="form-control" data-modal="modal" ng-model="precio.TipoEstado" name="{{'TipoEstado' + $index }}" ng-options="val.VAVClave as val.Descripcion for val in edoreg" ng-disabled="SoloLectura">
                                                        <option value="" selected>{{translation.XSeleccionarOpcion}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <br />
                            </div>
                            <div class="container" style="margin-left: 20px">
                                <!--Botones-->
                                @{  if (!bSoloLectura)
                                    {
                                        <input type="submit" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="GuardarPrecio()" />
                                        <input type="button" value="{{translation.BTCancelar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                                    }
                                    else
                                    {
                                        <input type="button" value="{{translation.BTAceptar}}" class="btn btn-default" ng-click="ValidarCancelar()" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>


            </form>
            @{ Html.RenderPartial("ListasdePrecios/ValidateBox"); }
            @{ Html.RenderPartial("MsgBox/YesNoMsgBoxAux"); }
            @{ Html.RenderPartial("ListasdePrecios/PrecioBox"); }
            @{ Html.RenderPartial("ListasdePrecios/ListasVigenciaBox"); }
            @{ Html.RenderPartial("MsgBox/MsgBoxAux"); }

        </div>

    </div>
</div>