@model IEnumerable<Effort.Models.Esfuerzo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}


<div class="container">

    <div class="container">
        <h2>Esfuerzos</h2>
     @if (ViewBag.Success != null)
        {
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @ViewBag.Success
            </div>
        }
    </div>
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Consumo de horas</th>
                <th>Horas restantes</th>
                <th>Comentarios</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            { 
                <tr>
                    <td><a href='~/Esfuerzo/Edit?id=@item.idEsfuerzo'>@item.idEsfuerzo </a></td>
                    <td>@item.fecha_actual.ToString("dd/MM/yyyy")</td>
                    <td>@item.consumo_hrs</td>
                    <td>@item.restantes</td>
                    <td>@item.comentarios</td>
                </tr>
            }

        </tbody>
    </table>
</div>
