@using eRoute.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Menu/Index.cshtml";
}
<style>
       @@media (min-width: 992px)
        {
            .col-md-1 {
                width: 9.333333%;
            }
        }
       @@media (min-width: 992px)
        {
            .col-md-2 {
                width: 15.666667%;
            }
       }
      
       
</style>

<div class="container valores margen-tabla" ng-controller="clienteCtrl" ng-init="AsignarPermisoCliente('@ViewBag.Permiso')">
    <div class="row">

        <div class="col-md-12 header">
            <h3 class="titulo-altura">{{GetDescripcion("XClientes", "Clientes")}}</h3>
        
            @{string sPermiso = ViewBag.Permiso; }
        </div>
    </div>
    <table cellpadding="12">
        <tr>
            @{ if (sPermiso.Contains("C"))
                {
            <th style="width:12%">@Html.ImageActionLink("../Content/images/crear.png", Url.Action("Create", new { Permiso = ViewBag.Permiso }), "{{GetDescripcion('BTCrear', 'Crear')}}")</th> }}
            <th style="width:12%">@Html.ImageActionLink("../Content/images/actualizar.png", "javascript:location.reload()", "{{GetDescripcion('BTActualizar', 'Actualizar')}}")</th>
            <th style="width:28%">
                <form>
                    <div class="input-group">
                        <span class="input-group-addon"><img width="16" height="16" src="../Content/images/buscar.png" /></span>
                        <input type="text" placeholder="{{GetDescripcion('BTBuscar', 'Buscar')}}" class="form-control" ng-model="search" />
                    </div>
                </form>
            </th>
            <th style="width:48%">
                <dir-pagination-controls max-size="10"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </th>
        </tr>
    </table>

    <div class="row" ng-init="ObtenerClientes()">
        <div class="col-md-12">
            <table cellpadding="12" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:8%"></th>
                        <th class="cursor-pointer" ng-click="sort('Clave')"><b>{{GetDescripcion("CLIClave", "Clave")}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Clave'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('NombreCorto')"><b>{{GetDescripcion("CLINombreCorto", "Nombre Corto")}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='NombreCorto'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('NombreContacto')"><b>{{GetDescripcion("CLINombreContacto", "Nombre")}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='NombreContacto'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>                        
                        <th class="cursor-pointer" ng-click="sort('RazonSocial')"><b>{{GetDescripcion("CLIRazonSocial", "Razón Social")}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='RazonSocial'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th class="cursor-pointer" ng-click="sort('TipoEstado')"><b>{{GetDescripcion("CLITipoEstado", "Estado")}}</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TipoEstado'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                    </tr>
                </thead>
                <tbody> 
                     @*<tr dir-paginate="alm in cAlmacenesList|orderBy:sortKey:reverse|filter:search|itemsPerPage:20">*@
                    <tr dir-paginate="cli in cClientes|orderBy:sortKey:reverse|filter:search|itemsPerPage:tamPag">
                        <td>
                            @{  if (sPermiso.Contains("U"))
                                {
                                    @Html.ImageAction("../Content/images/editar.png", HttpUtility.UrlDecode(Url.Action("Edit", "Cliente", new { ClienteClave = "{{cli.ClienteClave}}", Permiso = ViewBag.Permiso })), "Modificar")
                                }
                                else if(sPermiso.Contains("R"))
                                {
                                    @Html.ImageAction("../Content/images/consultar.png", HttpUtility.UrlDecode(Url.Action("Details", "Cliente", new { ClienteClave = "{{cli.ClienteClave}}", Permiso = ViewBag.Permiso })), "Consultar")
                                }
                            }
                        </td>
                        <td>{{cli.Clave}}</td>
                        <td>{{cli.NombreCorto}}</td>
                        <td>{{cli.NombreContacto}}</td>
                        <td>{{cli.RazonSocial}}</td>
                        <td>{{cli.TipoEstado}}</td>     
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @{ Html.RenderPartial("MsgBox/YesNoMsgBox"); }
    @{ Html.RenderPartial("MsgBox/MsgBox"); }
</div>